{% extends "raceinfo/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}SKI - Race - Course {% endblock %}
{% block page_content %}

<div class="page-header">

    <h1>{{ _(' Course') }}
        <div class="btn-group pull-right" role="group" >
            <a class="btn btn-info" href="/raceinfo/race/{{ race.id }}/course">Courses list</a>
            <a class="btn btn-success" href="{{url_for(".race",id=race_id) }}">Race page</a>
        </div>
    </h1>

    <h4>{{ _(' Parameters') }}  <a class="btn btn-default" href="/raceinfo/race/{{ race.id }}/course/{{course.id}}/base/edit">edit</a></h4>

    <table class="table table-striped">
      <tbody>
        <tr><td>{{ _('Run') }}</td><td>{{ course.run}}</td></tr>
        <tr><td>{{ _('Russian name') }}</td><td>{{ course.ru_name}}</td></tr>
        <tr><td>{{ _('English name') }}</td><td>{{ course.en_name}}</td></tr>
        <tr><td>{{ _('Homologation') }}</td><td>{{ course.homologation}}</td></tr>
        <tr><td>{{ _('Length') }}</td><td>{{ course.length}}</td></tr>
        <tr><td>{{ _('Gates') }}</td><td>{{ course.gates}}</td></tr>
        <tr><td>{{ _('Tuminggates') }}</td><td>{{ course.tuminggates }}</td></tr>
        <tr><td>{{ _('Startelev') }}</td><td>{{ course.startelev }}</td></tr>
        <tr><td>{{ _('Finishelev') }}</td><td>{{ course.finishelev }}</td></tr>

      </tbody>
    </table>

    <h4>{{ _('Course runs') }} <a class="btn btn-default" href="/raceinfo/race/{{ race.id }}/course/{{course.id}}/run/add">Add</a></h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <td>#id</td>
          <td>Number</td>
          <td>Start time</td>
          <td>Finish time</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        {% for run in race_runs %}
        <tr>
          <td>{{ run.id }}</td>
          <td>{{ run.number }} </td>
          <td>{{ run.starttime }}</td>
           <td>{{ run.endtime }}</td>
           <td>
            <a href="run/{{ run.id }}/del">del</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h4>{{ _('Course forerunner') }} <a class="btn btn-default" href="/raceinfo/race/{{ race.id }}/course/{{course.id}}/forerunner/add">edit</a></h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <td>#id</td>
          <td>Russia name</td>
          <td>English name</td>
          <td>Order</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        {% for course_forerunner in course_forerunners %}
        <tr>
          <td>{{ course_forerunner[0].id }}</td>
          <td>{{ course_forerunner[1].ru_firstname }} {{ course_forerunner[1].ru_lastname }}</td>
          <td>{{ course_forerunner[1].en_firstname }} {{ course_forerunner[1].en_lastname }}</td>
           <td>{{ course_forerunner[0].order }}</td>
           <td>
            <a href="forerunner/{{ course_forerunner[0].id }}/edit">edit</a>
            |
            <a href="forerunner/{{ course_forerunner[0].id }}/del">del</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>


    <h4>{{ _('Device') }} <a class="btn btn-default" href="/raceinfo/race/{{ race.id }}/course/{{course.id}}/dev/add">add</a></h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <td>#id</td>
          <td>Course name</td>
          <td>Order</td>
          <td>Distance</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        {% for item in race_inter_dev %}
        <tr>
          <td>{{ item[0].id }}</td>
          <td>{{ item.ru_name }} </td>
          <td>{{ item[0].order }} </td>
          <td>{{ item[0].distance }} </td>
          <td>
            <a href="dev/{{ item[0].id }}/edit">edit</a>
            |
            <a href="dev/{{ item[0].id }}/del">del</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

</div>
{% endblock %}
