{% extends "raceinfo/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}SKI - Race {{ race.eventname }} {{ race.racedate }}{% endblock %}
{% block page_content %}

<div class="page-header">
    <h1>{{ race.eventname }} {{ race.racedate }}
        <a class="btn btn-info pull-right" href="/raceinfo/race">Race list</a>
    </h1>
    <h4>{{ _('Basic properties') }}  <a class="btn btn-default" href="{{ race.id }}/editbase">edit</a></h4>
    <table class="table table-striped">
      <tbody>
        <tr><td>{{ _('Event Name') }}</td><td>{{ race.eventname}}</td></tr>
        <tr><td>{{ _('Race date') }}</td><td>{{ race.racedate}}</td></tr>
        <tr><td>{{ _('Gender') }}</td><td>{{ race.gender}}</td></tr>
        <tr><td>{{ _('Place') }}</td><td>{{ race.place}}</td></tr>
        <tr><td>{{ _('Nation') }}</td><td>{{ race.nation}}</td></tr>
        <tr><td>{{ _('Category') }}</td><td>{{ race.category}}</td></tr>
        <tr><td>{{ _('Discipline') }}</td><td>{{ race.discipline }}</td></tr>
        <tr><td>{{ _('Season') }}</td><td>{{ race.season }}</td></tr>
        <tr><td>{{ _('Sector (AL)') }}</td><td>{{ race.sector }}</td></tr>
        <tr><td>{{ _('Codex') }}</td><td>{{ race.codex }}</td></tr>
        <tr><td>{{ _('Speed codex') }}</td><td>{{ race.speedcodex }}</td></tr>
        <tr><td>{{ _('Number of Training') }}</td><td>{{ race.training }}</td></tr>
      </tbody>
    </table>
    <div class="row">
        <div class="col-lg-6">
            <h4>{{ _('Jury') }} <a class="btn btn-default" href="/raceinfo/race/{{ race.id }}/jury">edit</a></h4>
        </div>
        <div class="col-lg-6">
            <h4>{{ _('Order list') }} <a class="btn btn-default" href="/raceinfo/race/{{ race.id }}/order_list/build">build</a></h4>
        </div>
    </div>
{#    <h4>{{ _('Technical Delegates') }} <a class="btn btn-default" href="/raceinfo/race/{{ race.id }}/td">edit</a></h4>#}
{#    <table class="table table-striped">#}
{#      <tbody>#}
{#      </tbody>#}
{#    </table>#}
    <div class="row">
        <div class="col-lg-6">
    {% if race.isTeam %}
        <h4>{{ _('Team') }} <a class="btn btn-default" href="/raceinfo/race/{{ race.id }}/team">edit</a></h4>
        <table class="table table-striped">
          <tbody>
          </tbody>
        </table>
    {% else %}
        <h4>{{ _('Competitors') }} <a class="btn btn-default" href="/raceinfo/race/{{ race.id }}/competitors">edit</a></h4>
        <table class="table table-striped">
          <tbody>
          </tbody>
        </table>
    {% endif %}
        </div>
        <div class="col-lg-6">
            <h4>{{ _('Weather') }} <a class="btn btn-default" href="/raceinfo/race/{{ race.id }}/weather">edit</a></h4>
        </div>
    </div>
    <h4>{{ _('Course') }} <a class="btn btn-default" href="/raceinfo/race/{{ race.id }}/course">edit</a></h4>
    <table class="table table-striped">
      <tbody>
      </tbody>
    </table>
    <h4>{{ _('Runs') }} <a class="btn btn-default" href="/raceinfo/race/{{ race.id }}/run">edit</a></h4>
    <table class="table table-striped">
      <tbody>
      </tbody>
    </table>

    <h4>{{ _('Additional Parameters') }}  <a class="btn btn-default" href="/raceinfo/race/{{ race.id }}/additional">edit</a></h4>
    <table class="table table-striped">
      <tbody>
      </tbody>
    </table>

</div>
{% endblock %}
