{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}SKI - Race - Team {% endblock %}
{% block page_content %}

<div class="page-header">
    <h4>{{ _('Team') }} <a class="btn btn-default" href="/raceinfo/race/{{ race.id }}/team/{{ team[0].id }}/base/edit">edit</a></h4>
    <table class="table table-striped">
      <tbody>
        <tr><td>{{ _('id') }}</td><td>{{ team[0].id}}</td></tr>
        <tr><td>{{ _('bib') }}</td><td>{{ team[0].bib}}</td></tr>
        <tr><td>{{ _('Team') }}</td><td>{{ team[1].ru_teamname}}</td></tr>
        <tr><td>{{ _('Classified') }}</td><td>{{ team[0].classified}}</td></tr>
      </tbody>
    </table>
    <h4>{{ _('Competitors') }} <a class="btn btn-default" href="/raceinfo/race/{{ race.id }}/competitors?team_id={{ team[0].team_id }}">edit</a></h4>
    <table class="table table-striped">
      <tbody>
      </tbody>
    </table>
</div>
{% endblock %}
