{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}SKI - Discipline List{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>Disciplines</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <td>#id</td>
      <td>FIS Code</td>
      <td>Russia name</td>
      <td>English name</td>
      <td>Birthday</td>
      <td>NSA</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    {% for competitor in competitors %}
    <tr>
      <td>{{ competitor.id }}</td>
      <td>{{ competitor.fiscode }}</td>
      <td>{{ competitor.ru_firstname }} {{ competitor.ru_lastname }}</td>
      <td>{{ competitor.en_firstname }} {{ competitor.en_lastname }}</td>
      <td>{{ competitor.birth }}</td>
      <td>{{ competitor.NSA }}</td>
      <td>
        <a href="{{ competitor.id }}/edit">edit</a>
        |
        <a href="{{ competitor.id }}/del">del</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a class="btn btn-default" href="{{ url_for('.competitor_add') }}">Add</a>
{% endblock %}
