{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ title }} {% endblock %}

{% block page_content %}
<div class="page-header">
    <h1> Competitiors list </h1>
</div>
    <table class="table table-striped">
     <thead>
        <tr>
          <td>#id</td>
          <td>Фамилия Имя</td>
          <td>First Name, Last Name</td>
          <td></td>
        </tr>
     </thead>
     <tbody>
     {% for c in competitors %}
        <tr>
          <td>{{ c[0].id }}</td>
          <td>{{ c[1].ru_lastname }} {{ c[1].ru_firstname }}</td>
          <td>{{ c[1].en_firstname }} {{ c[1].en_lastname }}</td>
          <td>
            <a href="competitor/{{ c[0].id }}/edit">edit</a>
            <a href="competitor/{{ c[0].id }}/del">del</a>
          </td>
        </tr>
        {% endfor %}
     </tbody>
    </table>
    <div class="row">
       <h2> Load competitiors from file  </h2>
      <div class="col-md-12">
        <form action="competitors/upload" method="post" enctype="multipart/form-data" class="form-inline">
            <div class="form-group">
                <input type="file" class="btn btn-default" name="list">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary">
            </div>
            <div><a href="{{url_for('static', filename='example.xlsx')}}">Образец файла</a></div>
        </form>
      </div>
    </div>
    <div class="row">
        <h2> Add competitior  </h2>
    <div class="col-md-4">
    {{ wtf.quick_form(form) }}
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label for=""> </label>
    <button type="button" class="btn btn-primary form-control" data-toggle="modal" data-target="#popup_add_competitor">Add</button>
        </div>
    </div>

    </div>
    <!-- HTML-код модального окна -->
    <div id="popup_add_competitor" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header"><h2>Add new competitor</h2></div>
                <div class="modal-body">
            {{ wtf.quick_form(competitor_form) }}
                    <div>
        </div>
      </div>
    </div>
{% endblock %}

{% block  scripts%}
{{ super() }}
    <script>
        $(document).ready(function() {
            $('#popup_add_competitor form').submit(function (e) {
                var url = "{{ url_for('.competitor_add') }}"; // send the form data here.
                $.ajax({
                    type: "POST",
                    url: url,
                    data: $('#popup_add_competitor form').serialize(), // serializes the form's elements.
                    success: function (data) {
                        var obj = JSON.parse(data);
                        if(obj.result=='form')
                             $('#popup_add_competitor form').html(obj.form);
                        else{
                            $('#competitor_ref').append($("<option></option>")
                                .attr("value",obj.id)
                                .text(obj.ru_lastname + ' ' + obj.ru_firstname));
                            $('#popup_add_competitor').modal('hide');
                        }
                    }
                });
                e.preventDefault(); // block the traditional submission of the form.
            });
            // Inject our CSRF token into our AJAX request.
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", "{{competitor_form.csrf_token._value() }}")
                    }
                }
            })
        });
    </script>
{% endblock %}