{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}SKI - Nations List{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>Nations</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <td>#id</td>
      <td>Abbreviation</td>
      <td>Russian Title</td>
      <td>English Title</td>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr>
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.ru_description }}</td>
      <td>{{ item.en_description }}</td>
      <td>
        <a href="{{ item.id }}">edit</a>
        |
        <a href="{{ item.id }}/del">del</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a class="btn btn-default" href="{{ url_for('.nation_add') }}">Add</a>

{% endblock %}
