{% extends "raceinfo/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}SKI - Gender List{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>Order list: {{ race.eventname }}
       <a class="btn btn-success pull-right" href="{{url_for(".race",id=race.id) }}">Race page</a>
    </h1>
    <h2>Run number: {{ run.number }}</h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <td>bib</td>
      <td>Name</td>
      <td>Order</td>
      <td>FIS Points</td>
    </tr>
  </thead>
  <tbody>
    {% for competitor in competitors %}
    <tr>
      <td>{{competitor[1].bib}}</td>
      <td>{{ competitor[0].en_firstname }} {{ competitor[0].en_lastname }}</td>
      <td>{{ competitor[2].order }}</td>
          <td>{{ competitor[3].fispoint }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
