{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}SKI - Run List{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1> Run list
        <a class="btn btn-default" href="/raceinfo/race/{{ race.id }}/run/add">Add</a>
        <a class="btn btn-success pull-right" href="{{url_for(".race",id=race.id) }}">Race page</a>
    </h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <td>Number</td>
      <td>Course name</td>
      {% if is_combination %}
        <td>Discipline</td>
      {% endif %}
      <td>Start time</td>
      <td>End time</td>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    {% for run in course_runs %}
    <tr>
      <td>{{ run[0].number }} </td>
      <td>{{ run[1].en_name }}</td>
      {% if is_combination %}
        <td>{{ run[2]}}</td>
      {% endif %}
      <td>{{ run[0].starttime }}</td>
      <td>{{ run[0].endtime }}</td>
      <td>
        <a href="run/{{ run[0].id }}/edit">edit</a>
        |
        <a href="run/{{ run[0].id }}/del">del</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
