{% extends "shorttrack/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}SKI - Races List{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>Races</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <td>Date</td>
      <td>Event Name</td>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr>
      <td>{{ item.racedate }}</td>
      <td>{{ item.eventname }}</td>
      <td>
        <a href="{{ item.id }}/edit">edit</a>
        |
        <a href="{{ item.id }}/del">del</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a class="btn btn-default" href="{{ url_for('shorttrack.race_add') }}">Add</a>

{% endblock %}
