{% extends "shorttrack/base.html" %}
{% import "_user.html" as macros %}

{% block title %} Получатель{% endblock %}

{% block page_content %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <ul class="nav nav-tabs">
      <li id="li_tab_results"><a href="#tab_results" data-toggle="tab">Результаты</a></li>
      <li id="li_tab_runs"><a href="#tab_runs" data-toggle="tab">Заезды</a></li>
      <li id="li_tab_runlists"><a href="#tab_runlists" data-toggle="tab">Стартовые списки</a></li>
      <li id="li_tab_jurydata"><a href="#tab_jurydata" data-toggle="tab">Данные жюри</a></li>
      <li id="li_tab_finalresults"><a href="#tab_finalresults" data-toggle="tab">Финишные результаты</a></li>
    </ul>
    <div class="tab-content">
      <div id="tab_results" class="tab-pane fade in active">
        <div class="row">
            <h2>Результаты</h2>
        </div>
        {% for key, groups in competitors.items() %}
            <div class="row">
                <h3>Заезд - {{key}}</h3>
            </div>
            {% for group, list in groups.items() %}
                <div class="row">
                    <h4>Группа - {{group}}</h4>
                </div>
                <div class="row">
                {% for item in list %}
                    <table id="Competitor-{{key}}-{{item.id}}" style="width:19%; float:left">
                        <tr>
                            <th colspan="3">{{item.ru_lastname}} {{item.ru_firstname}} </th>
                        </tr>
                        <tr>
                            <th>Circle</th>
                            <th>Rank</th>
                            <th>Time</th>
                            <th>Diff</th>
                        </tr>
                        {% for result in result_list[key][item.id] %}
                            <tr>
                                <td>{{result.device_order}}</td>
                                <td>{{result.rank}}</td>
                                <td>{{result.time}}</td>
                                <td>{{result.diff}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endfor %}
                </div>
            {% endfor %}
        {% endfor %}
      </div>
      <div id="tab_runs" class="tab-pane fade">
          <h2>Заезды</h2>
                <table style="width:100%;" class="run_list table table-bordered">
                    <tr>
                        <th>№</th>
                        <th>Order</th>
                        <th>Name</th>
                        <th>starttime</th>
                        <th>endtime</th>
                        <th></th>
                    </tr>
               {% for item in runs %}
                    <tr run_id='{{item.id}}'>
                        <td>{{item.id}}</td>
                        <td>{{item.number}}</td>
                        <td>{{item.name}}</td>
                        <td class="start__time">{{item.starttime}}</td>
                        <td class="finish__time">{{item.endtime}}</td>
                        <td>
                            <button type="button" class="run__start btn btn-success">Start</button>
                            <button type="button" class="run__finish btn btn-danger" >Finish</button>
                        </td>
                    </tr>
               {% endfor %}
                </table>

      </div>
      <div id="tab_runlists" class="tab-pane fade">
        <div class="row"><h2>Стартовые списки</h2></div>
        {% for key, groups in competitors.items() %}
            <div class="row">
                <h3>Заезд - {{key}}</h3>
            </div>
            <div class="row">
            {% for group, list in groups.items() %}
                    <table style="width:25%; float:left">
                        <tr>
                            <th colspan="2">Группа - {{group}}</th>
                        </tr>
                        <tr>
                            <th>Order</th>
                            <th>Name</th>
                            <th></th>
                        </tr>
                        {% for item in list %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td class="competitor_name" >{{item.ru_lastname}} {{item.ru_firstname}}</td>
                            <td>
                                <a data-toggle="modal" title="Photofinish" class="open-PhotofinishModal btn btn-primary" run_id="{{key}}" competitor_id="{{item.id}}" href="#PhotofinishModal">
                                  <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>

            {% endfor %}
            </div>
        {% endfor %}
        <div class="row">
<span class="glyphicons glyphicons-camera"></span>
        </div>
      </div>
      <div id="tab_jurydata" class="tab-pane fade">
        <div class="row">
            <h2>Данные жюри</h2>
        </div>
        {% for run_number, run_item in run_info.items() %}
            <div class="row">
                <h3>Заезд - {{run_number}}</h3>
            </div>
            <div class="row">
             <table style="width:100%;" class="run_list table table-bordered">
                    <tr>
                        <th>Juru name</th>
                        <th>Type</th>
                        {% for group in run_item.groups%}
                            <th>Group {{group.number}}</th>
                        {% endfor%}
                    </tr>
               {% for item in jury %}
                    <tr>
                        <td class="jury_name">{{item[0].en_lastname}} {{item[0].en_firstname}}</td>
                        <td>{{item[1].type}}</td>
                        {% for group in run_item.groups%}
                        <td id="jury_data__group_{{group.id}}_jury_{{item[0].id}}">
                        </td>
                        {% endfor%}
                    </tr>

               {% endfor %}
                </table>
            </div>
        {% endfor %}
      </div>
      <div id="tab_finalresults" class="tab-pane fade">
        <div class="row">
            <h2>Финишные результаты</h2>
        </div>
      </div>
    </div>

<div class="modal fade" id="PhotofinishModal">
  <div class="modal-dialog">
    <div class="modal-content">
       <div class="modal-header">
          <button class="close" data-dismiss="modal">×</button>
          <h3>Photofinish</h3>
        </div>
        <div class="modal-body">
        <form class="form-inline" method="post" id="photofinish__form" action="shorttrack/photofinish">
          <div class="form-group">
            <label class="sr-only" for="exampleInputEmail3">Email address</label>
            <input type="text" class="form-control"  id="competitors_name" placeholder="Competitors name" disabled>
          </div>
          <div class="form-group">
            <label class="sr-only" for="exampleInputPassword3">Password</label>
            <input type="text" class="form-control" name="photofinish_time" id="photofinish_time" placeholder="MM:SS.MS" required>
          </div>
          <input type="hidden" class="form-control" name="run_id" id="photofinish__run_id">
          <input type="hidden" class="form-control" name="competitor_id" id="photofinish__competitor_id">
          <button type="button" id="photofinish__submit" class="btn btn-default">Send</button>
        </form>
        </div>
    </div>
  </div>
</div>

<div class="modal fade" id="JuryDataModal">
  <div class="modal-dialog">
    <div class="modal-content">
       <div class="modal-header">
          <button class="close" data-dismiss="modal">×</button>
          <h3>Jury data approve</h3>
        </div>
        <div class="modal-body">
        <form class="" method="post" id="photofinish__form" action="shorttrack/photofinish">
          <div class="form-group">
            <label for="exampleFormControlSelect1">Jury</label>
            <input type="text" class="form-control"  id="jurydata__competitors_name" placeholder="Jury name" disabled>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Time</label>
            <input type="text" class="form-control"  id="jurydata__time" placeholder="Time" disabled>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Competitor</label>
            <select class="form-control" name="competitor_id" id="jurydata__competitor_id">
            </select>
          </div>
          <input type="hidden" class="form-control" name="result_id" id="jurydata__result_id">
          <input type="hidden" class="form-control" name="group_id" id="jurydata__group_id">
          <button type="button" id="jurydata__submit" class="btn btn-default">Send</button>
        </form>
        </div>
    </div>
  </div>
</div>


{% endblock %}
{% block scripts %}
{{ super() }}
<script>
  var socket = io.connect('http://127.0.0.1:5000');
  var race_id = {{race_id}};

    socket.on('STNewDataPoint', function(data) {
     data= JSON.parse(data);
     $("#Competitor-"+data.run_id+"-"+data.competitor_id).append("<tr><td>"+data.device_order+"</td><td>"+data.rank+"</td><td>"+data.time+"</td><td>"+data.diff+"</td></tr>");
    });


    socket.on('STNewStartData', function(data) {
     data= JSON.parse(data);

     for (var i = 0; i < data.length; i++) {
        $("#Competitor-"+data[i].run_id+"-"+data[i].competitor_id).append("<tr><td>"+data[i].device_order+"</td><td>"+data[i].rank+"</td><td>"+data[i].time+"</td><td>"+data[i].diff+"</td></tr>");
     }

    });
    socket.on('STJuryData', function(data) {
     data= JSON.parse(data);
     $("#jury_data__group_"+data.group_id+"_jury_"+data.jury_id).append("<div class='alert alert-info' role='alert'><button type='button' group_id='"+data.group_id+"' jury_result_id='"+data.id+"' jury_id='"+data.jury_id+"' class='open-JuryDataModal close'><span class='glyphicon glyphicon-ok' aria-hidden='true'></span></button><strong class='jury_time' >"+data.time+"</strong></div>");
    });


//    socket.emit('GetResults', {race_id: 8});

    socket.on('Results', function(data) {
      console.log('Results', JSON.parse(data));
    });

    $('.run__start').click(function() {
        var cid=$(this).closest('tr').attr('run_id');
        $.post( '/shorttrack/race/'+race_id+'/run/'+cid+'/start').
            done(function(data) {
               $( "tr[run_id='"+cid+"']").children('.start__time').html(data);
            });
    });
    $('.run__finish').click(function() {
        var cid=$(this).closest('tr').attr('run_id');
        $.post( '/shorttrack/race/'+race_id+'/run/'+cid+'/stop').
            done(function(data) {
               $( "tr[run_id='"+cid+"']").children('.finish__time').html(data);
            });
    });
//    Модальное окно

    $(document).on("click", ".open-PhotofinishModal", function () {
//      var run_id=$(this).attr("run_id");
//      var competitor_id=$(this).attr("competitor_id");
//      var name=$(this).closest('tr').children('.competitor_name').text();

      $('#competitors_name').attr('placeholder',$(this).closest('tr').children('.competitor_name').text());
      $('#photofinish__run_id').val($(this).attr("run_id"));
      $('#photofinish__competitor_id').val($(this).attr("competitor_id"));
      $('#PhotofinishModal').modal('show');

    });

    $(document).on("click", ".open-JuryDataModal", function () {
      var elem= $(this);
      $.get('/shorttrack/competitorslist', {'group_id':$(this).attr("group_id")}).done(function(data) {
            data=JSON.parse(data);
            $("#jurydata__competitor_id").empty()
            for(i=0; i<data.length;i++)
                $('#jurydata__competitor_id').append('<option value="'+data[i].id+'">'+data[i].ru_lastname+' '+data[i].ru_firstname+'</option>');

            $('#jurydata__competitors_name').val(elem.closest('td').siblings('.jury_name').text());
            $('#jurydata__time').val(elem.siblings('strong').text());
            $('#jurydata__result_id').val(elem.attr("jury_result_id"));
            $('#JuryDataModal').modal('show');

            $('#jurydata__submit').click(function() {
             $.post('/shorttrack/jury_result/approve',
             {
                 jury_result_id:$('#jurydata__result_id').val(),
                 competitor_id:$('#jurydata__competitor_id').val()
             }).done(function(data) {
               elem.closest('div').removeClass('alert-info').addClass('alert-success');
               elem.closest('div').append($("#jurydata__competitor_id option:selected").text());
               elem.remove();
               $('#JuryDataModal').modal('hide');
            });
     });

      });

    });
     $('#photofinish__submit').click(function() {
         $.post('/shorttrack/race/'+race_id+'/run/'+$('#photofinish__run_id').val()+'/photofinish',
         {
             time:$('#photofinish_time').val(),
             competitor_id:$('#photofinish__competitor_id').val()
         }).done(function(data) {
           $('#PhotofinishModal').modal('hide');
         });
     });


</script>
{% endblock %}
