{% extends "bootstrap/base.html" %}

{% block title %}Flasky{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">SKI</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('main.user', username=current_user.username) }}">Users</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ _('Static Tabs') }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="{{ url_for('raceinfo.gender_list') }}">{{ _('Gender') }}</a></li>
                      <li><a href="{{ url_for('raceinfo.discipline_list') }}">{{ _('Discipline') }}</a></li>
                      <li><a href="{{ url_for('raceinfo.tdrole_list') }}">{{ _('TD types') }}</a></li>
                      <li><a href="{{ url_for('raceinfo.category_list') }}">{{ _('Category') }}</a></li>
                      <li><a href="{{ url_for('raceinfo.status_list') }}">{{ _('Status') }}</a></li>
                      <li><a href="{{ url_for('raceinfo.mark_list') }}">{{ _('Marks') }}</a></li>
                      <li><a href="{{ url_for('raceinfo.nation_list') }}">{{ _('Nations') }}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ _('Race') }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="{{ url_for('raceinfo.race_add') }}">{{ _('Create New Race') }}</a></li>
                      <li><a href="">{{ _('Finished Race') }}</a></li>
                      <li><a href="">{{ _('Opened Race') }}</a></li>
                      <li><a href="{{ url_for('raceinfo.race_list') }}">{{ _('Race list') }}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ _('Team') }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="{{ url_for('raceinfo.competitor_list') }}">{{ _('Competitors list') }}</a></li>
                      <li><a href="{{ url_for('raceinfo.coursetter_list') }}">{{ _('Coursetters list') }}</a></li>
                      <li><a href="{{ url_for('raceinfo.forerunner_list') }}">{{ _('Forerunner list') }}</a></li>
                    </ul>
                </li>
                <li>
                  <a href="{{ url_for('raceinfo.jury_list', username=current_user.username)}}">{{ _('Jury') }}</a>
                </li>
                <li>
                  <a href="#reports">{{ _('Reports') }}</a>
                </li>
                <li>
                  <a href="#log">{{ _('Log') }}</a>
                </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ _('Account') }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('main.user', username=current_user.username) }}">{{ _('Profile') }}</a></li>
                        <li><a href="{{ url_for('auth.change_password') }}">{{ _('Change Password') }}</a></li>
                        <li><a href="{{ url_for('auth.change_email_request') }}">{{ _('Change Email') }}</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">{{ _('Log Out') }}</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">{{ _('Log In') }}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Overview <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Reports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Analytics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Export</a>
        </li>
      </ul>
    </nav>

    <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}
  </main>
</div>
</div>

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
