{% extends "base.html" %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
   <div class="row">
    <h1>Welcome, {% if current_user.is_authenticated %}{{ current_user.username }}!{% else %}you have to login.{% endif %}</h1>
   </div>
   <br>
   <BR>
   <div class="row">

       <div class="col-md-6">
        <div class="jumbotron" style='background-image:url("{{ url_for('static',filename='ski.jpg') }}"); background-size: cover;'>

            <br>
            <br>

            <br>
            <br>

          <p class="lead">
            <a class="btn btn-default btn-lg" href="{{ url_for('raceinfo.index') }}" role="button">Start SKI</a>
          </p>
        </div>
       </div>
      <div class="col-md-6">
        <div class="jumbotron" style='background-image:url("{{ url_for('static',filename='shorttrack.jpg') }}"); background-size: cover;'>
          
            <br>

            <br>

            <br>
            <br>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ url_for('shorttrack.index') }}" role="button">Start Short track</a>
          </p>
        </div>
       </div>
   </div>


</div>
{% endblock %}
