{% extends "base.html" %}
{% import "_user.html" as macros %}

{% block title %} Получатель{% endblock %}

{% block page_content %}
<style>
.btn {margin-right: 10px;}
tr.row_competitor td {border-top:2px solid gray!important;}
</style>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">

    var socket = io.connect('http://127.0.0.1:5000');
    socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
    });
    var finish_res= new Array();
    socket.on('errorHandler', function(data) {
      var data=JSON.parse(data);
      console.log(data);
    });
    socket.emit('get/results', {run_id: 1});
    socket.on('get/results/response', function(data) {
      console.log("socket.on('get/results/response', function(data)");
      var sdata=JSON.parse(data);
      console.log(sdata);
      console.log("----------------------------------------------");
      //обраотка тут
    });

    socket.on('newData', function(data) {

      var i;
      var data_arr=JSON.parse(data);

      var list = new Array();
      var course = new Array();
      var sector = new Array();
      console.log("-----------START--------------:");
      console.log("data_arr:");
      console.log(data_arr);

    //  lastcomp=data_arr[data_arr.length-1];
      lastcomp=data_arr.current_object;
      console.log("lastcomp:");
      console.log(lastcomp);

      sumtab_set_maininfo(data2arr(lastcomp));

      if(data_arr.length<=1 && lastcomp[4].name=="Start"){
        // на всякий случай очищаем массив finish_res
        finish_res.length = 0;
      }


      for (i = 0; i < data_arr.length; i++) {
        list[i]=[i, data_arr[i][1].bib, data_arr[i][0].time, data_arr[i][0].sectortime, data_arr[i][0].race_competitor_id];
        course[i]=[i, data_arr[i][1].bib, data_arr[i][0].time, data_arr[i][0].sectortime, data_arr[i][0].race_competitor_id];
        sector[i]=[i, data_arr[i][1].bib, data_arr[i][0].time, data_arr[i][0].sectortime, data_arr[i][0].race_competitor_id];
      }

      //сортируем результаты спортсменов по всей трассе (от старта до текущего девайса)
      course.sort(function(a, b) {if (a[2] > b[2]) return 1; else if (a[2] < b[2]) return -1; else return 0;});
      for(i=0;i<course.length;i++){
         data_arr[course[i][0]][0].rank=i+1;
         data_arr[i][0].diff=data_arr[i][0].time-course[0][2];
      }

      //сортируем результаты спортсменов по текущему сектору
      sector.sort(function(a, b) {return a[3] == b[3] ? a > b : a[3] > b[3]});
      for(i=0;i<sector.length;i++){
        data_arr[sector[i][0]][0].sectorrank=i+1;
        data_arr[i][0].sectordiff=data_arr[i][0].sectortime-sector[0][3];
      }

      //sumtab_set_extrainfo(lastcomp);

      $("#compname").html(lastcomp[2].en_lastname+" "+lastcomp[2].en_firstname);
      $("#compbib").html(lastcomp[1].bib);

      if(lastcomp[4].name=="Start"){
        $("#compname").html(lastcomp[2].en_lastname+" "+lastcomp[2].en_firstname);
        $("#compbib").html(lastcomp[1].bib);
        $("#tabcomp").html('');
        $("#tabfinish").append("<tr id='fintr"+lastcomp[1].bib+"'><td>"+data_arr.length+"</td><td class='rank'>-</td><td class='time'>"+lastcomp[0].time+"</td><td class='diff'>-</td><td>"+lastcomp[1].bib+"</td><td>"+ lastcomp[2].en_lastname+" "+lastcomp[2].en_firstname+"</td><td class='status'>Started</td><td class='action' id='action"+lastcomp[1].run_id+"_"+lastcomp[0].race_competitor_id+"'><button value='' class='editresult' run_id='"+lastcomp[1].run_id+"' competitor_id='"+lastcomp[0].race_competitor_id+"'>edit</button></td></tr>");
      }else{
        if (lastcomp[4].name=="Finish") {
          finish_res.push([lastcomp[1].bib,lastcomp[2].en_firstname, lastcomp[2].en_lastname,lastcomp[0].time]);
  //        console.log("finish_res=");
  //        console.log(finish_res);
  //        console.log("lastcomp=");
  //        console.log(lastcomp);
          //finish_res.sort(sort_sector);
          /*var finish_res_sort=finish_res;
          finish_res_sort.sort(sort_sector);
          for(i=0;i<finish_res_sort.length;i++){
            $("#fintr"+finish_res_sort[i][0]+" .rank").html(i+1);
            $("#fintr"+finish_res_sort[i][0]+" .diff").html(finish_res_sort[i][3]-finish_res_sort[0][3]);
          }
          */
          for(i=0;i<course.length;i++){
            $("#fintr"+course[i][1]+" .rank").html(i+1);
            $("#fintr"+course[i][1]+" .diff").html(data_arr[course[i][0]][0].diff);

          }
        //  console.log(course);
        //  $("#fintr"+lastcomp[1].bib+" .rank").html()
          $("#fintr"+lastcomp[1].bib+" .status").html("finished");
          $("#fintr"+lastcomp[1].bib+" .action").append("<button class='approveQLF' absolut_time='"+lastcomp[0].absolut_time+"' competitor_id='"+lastcomp[1].id+"' run_id='"+lastcomp[1].run_id+"'>Approve QLF</button>");
          $("#fintr"+lastcomp[1].bib+" .time").html(lastcomp[0].time);

      //    $("#fintr"+lastcomp[1].bib).html("<td class='rank'>"+lastcomp[0].rank+"</td><td>"+lastcomp[0].time+"</td><td class='diff'>"+lastcomp[0].diff+"</td><td>"+lastcomp[1].bib+"</td><td>"+ lastcomp[2].en_lastname+" "+lastcomp[2].en_firstname+"</td><td>Finished</td>");
        }else{
          $("#fintr"+lastcomp[1].bib+" .time").html(lastcomp[0].time);
          $("#fintr"+lastcomp[1].bib+" .status").html("In progress");
        }
      }
      $("#tabcomp").append("<tr><td>"+lastcomp[4].name+" - "+lastcomp[3].distance+"m (#"+lastcomp[3].device_id+")</td><td>"+lastcomp[0].speed+"</td><td>"+lastcomp[0].rank+"</td><td>"+lastcomp[0].diff+"</td><td>"+lastcomp[0].time+"</td><td>"+lastcomp[0].sectorrank+"</td><td>"+lastcomp[0].sectordiff+"</td><td>"+lastcomp[0].sectortime+"</td></tr>");
      $("#tabsector").html('');
      //$("#tabsector").append('<tr><td colspan="5">DEVICE: '+lastcomp[3].distance+"m (#"+lastcomp[3].device_id+'</td></tr>');
      for(i=0;i<sector.length;i++){
//        console.log('i='+i);
//        console.log('sector[i]='+sector[i]);
          $("#tabsector").append("<tr><td>"+(i+1)+"</td><td>"+sector[i][3]+"</td><td>"+(sector[i][3]-sector[0][3])+"</td><td>"+sector[i][1]+"</td><td>"+ data_arr[sector[i][0]][2].en_lastname+" "+data_arr[sector[i][0]][2].en_firstname+"</td></tr>");
          if(data_arr[sector[i][0]][4].name!="Start"){
            $("#tab_summarytable .div_run"+data_arr[sector[i][0]][0].run_id+" tr.comp_"+data_arr[sector[i][0]][0].race_competitor_id+"_sectorrank td.dev_"+data_arr[sector[i][0]][3].device_id+"_sectorrank").html(i+1);
            $("#tab_summarytable .div_run"+data_arr[sector[i][0]][0].run_id+" tr.comp_"+data_arr[sector[i][0]][0].race_competitor_id+"_sectordiff td.dev_"+data_arr[sector[i][0]][3].device_id+"_sectordiff").html(sector[i][3]-sector[0][3]);
        //    $("#tab_summarytable .div_run"+data_arr[sector[i][0]][0].run_id+" tr.comp_"+data_arr[sector[i][0]][0].race_competitor_id+"_sectordiff td.dev_"+data_arr[sector[i][0]][3].device_id+"_sectordiff").html(data_arr[sector[i][0]][0].sectordiff);
          }
      }
      $("#tabcourse").html('');
      for(i=0;i<course.length;i++){
        $("#tabcourse").append("<tr><td>"+data_arr[course[i][0]][0].rank+"</td><td>"+data_arr[course[i][0]][0].time+"</td><td>"+data_arr[course[i][0]][0].diff+"</td><td>"+data_arr[course[i][0]][1].bib+"</td><td>"+ data_arr[course[i][0]][2].en_lastname+" "+data_arr[course[i][0]][2].en_firstname+"</td></tr>");
        if(data_arr[course[i][0]][4].name!="Start"){
          $("#tab_summarytable .div_run"+data_arr[course[i][0]][0].run_id+" tr.comp_"+data_arr[course[i][0]][0].race_competitor_id+"_rank td.dev_"+data_arr[course[i][0]][3].device_id+"_rank").html(i+1);
          $("#tab_summarytable .div_run"+data_arr[course[i][0]][0].run_id+" tr.comp_"+data_arr[course[i][0]][0].race_competitor_id+"_diff td.dev_"+data_arr[course[i][0]][3].device_id+"_diff").html(course[i][2]-course[0][2]);
        }
      }

      //$("#tab").append(list+"<br>");
    });
    function sumtab_set_maininfo(data){
      //data.run_id              - table
      //data.race_competitor_id  - tr
      //data[0].course_device_id    - td

      // если таблица есть
      console.log("sumtab_set_maininfo - START");
      console.log(data);
      if($("#tab_summarytable .div_run"+data.run_id).length){
        // если нужной строке в таблице нет
        console.log("+++");
        console.log("$(#tab_summarytable .div_run"+data.run_id+" tbody tr.comp_"+data.race_competitor_id+"_sectortime).length = "+ $("#tab_summarytable .div_run"+data.run_id+" tbody tr.comp_"+data.race_competitor_id+"_sectortime").length);
        if(!$("#tab_summarytable .div_run"+data.run_id+" tbody tr.comp_"+data.race_competitor_id+"_sectortime").length){
          $("#tab_summarytable .div_run"+data.run_id+" tbody").append("<tr class='comp_"+data.race_competitor_id+"_sectortime row_competitor'></tr>");
          var arr= new Array("sectortime", "sectorrank", "sectordiff","speed");
          var total_arr=new Array("time","rank", "diff");
          // tr time
          var data=glob_arr["run"+data.run_id]["comp_"+data.race_competitor_id]
          var d = device_list["course_"+data.course_id];
          console.log("device_list:");
          console.log(d);

          //bib td
          $("#tab_summarytable .div_run"+data.run_id+" tr.comp_"+data.race_competitor_id+"_sectortime").append("<td rowspan="+arr.length+">"+data.bib+"</td>");
          //name td
          $("#tab_summarytable .div_run"+data.run_id+" tr.comp_"+data.race_competitor_id+"_sectortime").append("<td rowspan="+arr.length+">"+data.en_firstname+" "+data.en_lastname+"</td>");
          //status td
          $("#tab_summarytable .div_run"+data.run_id+" tr.comp_"+data.race_competitor_id+"_sectortime").append("<td rowspan="+arr.length+" class='comp_"+data.race_competitor_id+"_status'>"+(data.status_id?getObjById(status_list,"id",data.status_id).name:(data.is_finish?"finished":(data.is_start?"started":"N/A")))+"</td>");
/*
          $("#tab_summarytable .div_run"+data.run_id+" tr.comp_"+data.race_competitor_id+"_time").append("<td class='dev_"+d[0][0].id+"'>time</td>");
          for(var i=1;i<d.length;i++){
            $("#tab_summarytable .div_run"+data.run_id+" tr.comp_"+data.race_competitor_id+"_time").append("<td class='dev_"+d[i][0].id+"_time'>"+((data.dev_data["dev_"+d[i][0].id])?data.dev_data["dev_"+d[i][0].id].time:"N/A")+"</td>");
          }
*/
          console.log("DEV_DATA^^^^");
          console.log(data.dev_data);
          console.log(data.dev_data["dev_1"]);
          console.log(data.dev_data["dev_2"]);
          console.log(data.dev_data["dev_3"]);
          for(var j=0; j<arr.length;j++){
            if(j>0)
              $("#tab_summarytable .div_run"+data.run_id+" tbody").append("<tr class='comp_"+data.race_competitor_id+"_"+arr[j]+"'></tr>");
            console.log("WTF???");
            console.log(d);
            console.log(d[1][0].id);
            console.log(data.dev_data["dev_"+d[1][0].id]);
//            console.log(data.dev_data["dev_"+d[1][0].id][arr[j]]);
            $("#tab_summarytable .div_run"+data.run_id+" tr.comp_"+data.race_competitor_id+"_"+arr[j]).append("<td class='dev_"+d[0][0].id+"_"+arr[j]+"'>"+(total_arr[j]?total_arr[j]:arr[j])+"</td>");
            for(var i=1;i<d.length;i++){
              $("#tab_summarytable .div_run"+data.run_id+" tr.comp_"+data.race_competitor_id+"_"+arr[j]).append("<td class='dev_"+d[i][0].id+"_"+arr[j]+"'>"+((data.dev_data["dev_"+d[i][0].id])?((arr[j]=="speed")?nform(data.dev_data["dev_"+d[i][0].id][arr[j]]):tform(data.dev_data["dev_"+d[i][0].id][arr[j]])):"N/A")+"</td>");
            }
            if(j<total_arr.length){
              $("#tab_summarytable .div_run"+data.run_id+" tr.comp_"+data.race_competitor_id+"_"+arr[j]).append("<td class='dev_"+d[d.length-1][0].id+"_"+total_arr[j]+"'>"+((data.dev_data["dev_"+d[d.length-1][0].id])?data.dev_data["dev_"+d[d.length-1][0].id][total_arr[j]]:"N/A")+"</td>");
            }else{
              $("#tab_summarytable .div_run"+data.run_id+" tr.comp_"+data.race_competitor_id+"_"+arr[j]).append("<td></td>");
            }
          }

        }else{ // если есть
          console.log("FUNC: sumtab_set_maininfo // пишем данные не со стартового устройства");

          var arr= new Array("sectortime", "sectorrank", "sectordiff","speed");
          var total_arr=new Array("time","rank", "diff");

          var data=glob_arr["run"+data.run_id]["comp_"+data.race_competitor_id]
          var d = device_list["course_"+data.course_id];
          var dev = Object.keys(data.dev_data)[Object.keys(data.dev_data).length-1];//название div dev_(id заезда)
          console.log("data.dev_data");
          console.log(data);
          console.log("dev="+dev);
          //status td
          var status_str='';
          if(data.status_id){
              status_str=getObjById(status_list,"id",data.status_id).name;
          }else if(data.is_finish){
              status_str="finished";
          }else if(data.is_start){
            status_str="started";
          }
          if(data.is_manual){
            status_str=status_str+"<BR>manual input";
          }
          //data.status_id?data.status_id:(data.is_finish?"finished":(data.is_start?"started":"N/A"))(data.is_manual?"<br>!manual input":"");

          $("#tab_summarytable .div_run"+data.run_id+" tr.comp_"+data.race_competitor_id+"_sectortime td.comp_"+data.race_competitor_id+"_status").html(status_str);
          for(var j=0;j<arr.length;j++){
            $("#tab_summarytable .div_run"+data.run_id+" tr.comp_"+data.race_competitor_id+"_"+arr[j]+" td."+dev+"_"+arr[j]).html((arr[j]=="speed")?nform(data.dev_data[dev][arr[j]]):tform(data.dev_data[dev][arr[j]]));

            if(total_arr[j]){
              console.log(total_arr[j]+"="+tform(data.dev_data[dev][total_arr[j]]));
              $("#tab_summarytable .div_run"+data.run_id+" tr.comp_"+data.race_competitor_id+"_"+arr[j]+" td."+dev+"_"+total_arr[j]).html(tform(data.dev_data[dev][total_arr[j]]));
            }
            //else{
            //  $("#tab_summarytable .div_run"+data.run_id+" tr.comp_"+data.race_competitor_id+"_").append("<td></td>");
            //}
          }
          //if(data[4].name!="Start"){
          //}
        //    $("#tab_summarytable .div_run"+data.run_id+" tr.comp_"+data.race_competitor_id+" td.dev_"+data[3].device_id).html(nform(data[0].sectortime)+"<BR>"+nform(data[0].speed)+"<BR>"+nform(data[0].time));
        }
        /*
        for(var i=0; i<data.dev_data.length; i++){
          for(var j=0; j<arr.length;j++){

          }
          data.dev_data["dev_"+]
        }
        */
      }else{
        console.log("table for run #tab_summarytable .div_run"+data.run_id+" doesn't exist");
      }
    }
    </script>
    <ul class="nav nav-tabs">
      <li><a href="#tab_runs" data-toggle="tab">Заезды</a></li>
      <li><a href="#tab_startlist" data-toggle="tab">Стартовые списки</a></li>
      <li class="active"><a href="#tab_curcompetitor" data-toggle="tab">Текущие результаты</a></li>
      <li><a href="#tab_summarytable" data-toggle="tab">Все результаты</a></li>
      <li><a href="#tab_datasrc" data-toggle="tab">Данные с устройств</a></li>
      <li><a href="#tab_device" data-toggle="tab">Девайсы</a></li>
    </ul>
    <div class="tab-content">
        <div id="tab_runs" class="tab-pane fade">
          <h2>Заезды</h2>
          <h3>Current run <span id="run_current"></span></h3>
          <table style="width:100%;" class="table table-bordered">
            <thead>
              <tr>
                <th>№</th>
                <th>Start time</th>
                <th>End time</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody id="run_list">
            </tbody>
          </table>
        </div>
        <div id="tab_startlist" class="tab-pane fade"></div>
        <div id="tab_summarytable" class="tab-pane fade">
          <h2>Summary tables</h2>
        </div>
        <div id="tab_curcompetitor" class="tab-pane fade in active">
          <h2>Controls</h2>
          <table id="tab_manualcontrol" class="table table-hover">
            <thead>
              <tr>
                  <th>№ п/п</th>
                  <th>bib</th>
                  <th>Name</th>
                  <th>Status</th>
                  <th colspan="3">Controls</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
          <h2>Competitor data</h2>
          <h3>
            NAME: <span id="compname">-</span>
            <br>
            BIB: <span id="compbib">-</span>
          </h3>
        </div>
        <div id="tab_device" class="tab-pane fade"></div>
        <div id="tab_datasrc" class="tab-pane fade">
            <div class="hidden">
              <select id="src_select_bib" class="src_select_bib">
                <option value="">Не меняем</option>
                <option value="error">Error</option>
              </select>
            </div>
            <table id="tab_data_src" class="table table-hover">
              <thead>
                <tr>
                  <th>course_id</th>
                  <th>device</th>
                  <th>absolute time</th>
                  <th>time</th>
                  <th>bib</th>
                  <th>name</th>
                  <th>act</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
        </div>
    <!-- HTML-код модального окна -->
    <div id="popup_editresult" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form action="" name="form_editresult" id="form_editresult">
          <!-- Заголовок модального окна -->
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Ручной ввод результатов:
              <BR>Спортсмен: <span id="form_txt_competitor"></span>
              <BR>Заезд: <span id="form_txt_run"></span>
            </h4>
          </div>
          <!-- Основное содержимое модального окна -->
          <div class="modal-body">
            <div class="container-fluid">
              <!-- Контейнер, в котором можно создавать классы системы сеток -->
              <div class="row">
                <div class="col-md-2">Status:</div><div class="col-md-10"><select name="status" id="form_status"></select></div>
              </div>
              <div class="row">
                <div class="col-md-2">Time</div><div class="col-md-10"><input type="text" name="time" id="form_time"></div>
              </div>
              <div class="row">
                <div class="col-md-2">Reason</div><div class="col-md-10"><input type="text" name="reason" id="form_reason" style="width:100%;"></div>
                <div class="col-md-2">Gate</div><div class="col-md-10"><input type="text" name="gate" id="form_gate" style="width:2em;"></div>
              </div>
            </div>
          </div>
          <!-- Футер модального окна -->
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            <button type="button" class="btn btn-primary editform_approve">Approve</button>

            <input type="hidden" id="form_competitor_id" name="competitor_id" value="">
            <input type="hidden" id="form_run_id" name="run_id" value="">

          </div>
        </form>
        </div>
      </div>
    </div>

    {% endblock %}

    {% block scripts %}
    {{ super() }}
    <script type="text/javascript">

    var race_id=1; // пока задаем вручную
    var run={'id':null,'number':null}; // активный заезд
    var run_list=new Array(); // список всех заездов для race_id отсортированных по порядку (number)
    var run_list_ids=new Array(); // массив run_list_ids[run_id]=run_list[index] - соответствие id_run элементам в массиве run_list'

    var comp_state=new Array();
    var glob_arr = new Array();

    var status_list; //список статусов
    var start_list; //стартовые списки на все заезды
    var course_list=new Array(); // список трасс на гонке
    var device_list=new Array();;


    $(document).ready(function () {
      // получаем список статусов
      function get_status_list(){
          console.log("START FUNC: get_status_list");
          return $.get("/raceinfo/status/get")
          .done(function(data){
            status_list=JSON.parse(data);
            $.each(status_list, function(value) {
              $("#form_status").append($("<option></option>", {value: this.id, text: this.name+" - "+this.description}));
            });
            console.log("END FUNC: get_status_list");
            return status_list;
          })
      }
      function get_runs_list(){
          console.log("START FUNC: get_runs_list");
          return $.ajax({
            type: "GET",
            url: "/raceinfo/run/get/",
            data: {
              'race_id': race_id
              }
          })
          .done(function(data){
              run_list = JSON.parse(data);
              run_list.sort(function(a,b){return a['number'] == b['number'] ? a > b : a['number'] > b['number']}); // сортируем заезды по порядку number
              for(var i=0; i<run_list.length; i++){ // заполняем таблицу #run_list
                if(run_list[i]['starttime']){
                  run={'id':run_list[i]['id'],'number':run_list[i]['number']}; // данные активного(текущего) заезда
                }
                run_list_ids["id"+run_list[i]['id']]=i;
              }
              set_html_runlist();
              console.log("END FUNC: get_runs_list");
              return run_list;
          })
      }
      Promise.all([get_status_list(),get_runs_list()]).then(
            result=>get_startlist(run.id)
      ).then(
            result=>set_select_bib()
      ).then(
            result=>runinfo_get()
      ).then(
            result=>courselist_get()              // получение и внесение информации для вкладки "Устройства на трассах" (#tab_device)
      ).then(
            result=>courselist_tab_prepare()
      ).then(
            result=>prepare_result_tables()
      ).then(
            result=>set_list_for_manualcontrol()
      ).then(
            result=>get_current_data(race_id)
      );


   /*
     .then(
         get_startlist(run.id)
     )
     .then(
         get_current_data(race_id)
     )
     .then(
         set_list_for_manualcontrol()
     );

*/


    //prepare page ßßß
      // получение и вывод на странице инфы о всех заездах (race_id - задан глобально)
  //    runinfo_get();
      //runinfo_get().then(set_list_for_manualcontrol());

    /*
    *   обработка кнопок
    */
        // обработка кнопки - подтверждение заезда спортсмена со статусом QLF
        $("body").on("click", ".approveQLF", function () {
          $.ajax({
            url: "/raceinfo/approve/run/"+$(this).attr('run_id')+"/competitor/"+$(this).attr('competitor_id'),
            //dataType: 'json',
            data: {
              data: JSON.stringify({
                'absolut_time':$(this).attr('absolut_time')}
              )},
              success: $.proxy(function(json) {
                //console.log("#action"+$(this).attr('run_id')+"_"+$(this).attr('competitor_id'));
                $("#action"+$(this).attr('run_id')+"_"+$(this).attr('competitor_id')).html("Approved");
              }, this),
              /*success:function(data) {
                console.log("#action"+$(this).attr('run_id')+"_"+$(this).attr('run_id'));
                $("#action"+$(this).attr('run_id')+"_"+$(this).attr('run_id')).html("Approved");
              },*/
              error: function (error) {alert('error'); }
          });
        });
        // обработка кнопки финиш заезда
        $("body").on("click", ".run_finish", function () {
          alert("/raceinfo/race/"+race_id+"/run/"+$(this).attr('run_id')+"/stop");
          $.ajax({
            type: "GET",
            url: "/raceinfo/race/"+race_id+"/run/"+$(this).attr('run_id')+"/stop",
          })
            .done(function(data) {
              alert("#tab_startlist_run"+$(this).attr('run_id')+" .status");
              $("#tab_startlist_run"+$(this).attr('run_id')+" .status").html("завершен");
              runinfo_get();
            });
        });
        // обработка кнопки старт заезда
        $("body").on("click", ".run_start", function () {
          $.ajax({
            type: "GET",
            url: "/raceinfo/race/"+race_id+"/run/"+$(this).attr('run_id')+"/start",
          })
            .done(function(data) {
              runinfo_get();
              $("#tab_startlist_run"+$(this).attr('run_id')+" .status").html("активен");
            //  add_result_table($(this).attr('run_id')); // создаем таблицу для общих результатов. !!!к этому моменту должны быть уже получены все массивы run_list, course_list, dev_list
            });
        });
        // обработка кнопки вызова ручного ввода результата - модальное окно #popup_editresult
        $("body").on("click", ".editresult", function () {
          console.log($(this).attr('run_id'));
          $("#form_txt_competitor").html($(this).attr('competitor_id'));
          console.log("num="+run_list[run_list_ids["id"+$(this).attr('run_id')]].number);
          $("#form_txt_run").html(run_list[run_list_ids["id"+$(this).attr('run_id')]].number);

          $("#form_run_id").val($(this).attr('run_id'));
          $("#form_competitor_id").val($(this).attr('competitor_id'));

          $("#popup_editresult").modal('show');
        });
        // обработка кнопки сохранения и апрува для ручного ввода результата
        $("body").on("click", ".editform_approve", function () {
            $.ajax({
              type: "GET",
              url: "/raceinfo/approve/edit/run/"+$("#form_run_id").val()+"/competitor/"+$("#form_competitor_id").val(),
              //dataType: 'json',
              data: {
                data: JSON.stringify({
                  'absolut_time': $("#form_time").val(),
                  'reason': $("#form_reason").val(),
                  'gate': $("#form_gate").val(),
                  'status_id':  $("#form_status").val()
                })
              },
              success:function(data) {
                $("#action"+$("#form_run_id").val()+"_"+$("#form_competitor_id").val()).html("Approved");
                $("#popup_editresult").modal('hide');
              },
              error: function (error) {alert('error');}
            })
        });

        // обработка кнопки выхова редактирования стартлиста
        $("body").on("click", ".btn_edit_startlist", function () {
            var r=$(this).attr('run_id');
            $("#tab_startlist_run"+r+" table .edit").show();
            $("#tab_startlist_run"+r+" table .edit").show();

            $("#tab_startlist_run"+r+" .btn_edit_startlist").hide();
            $("#tab_startlist_run"+r+" .btn_save_startlist").show();
            $("#tab_startlist_run"+r+" .btn_canceledit_startlist").show();
        });
        // обработка кнопки отмены редактирования стартлиста
        $("body").on("click", ".btn_canceledit_startlist", function () {
          var r=$(this).attr('run_id');
          $("#tab_startlist_run"+r+" table .edit").hide();
          $("#tab_startlist_run"+r+" table .edit").hide();

          $("#tab_startlist_run"+r+" .btn_edit_startlist").show();
          $("#tab_startlist_run"+r+" .btn_save_startlist").hide();
          $("#tab_startlist_run"+r+" .btn_canceledit_startlist").hide();
        });
        // обработка кнопки сохнанения изменений в стартлисте
        $("body").on("click", ".btn_save_startlist", function () {
            var r=$(this).attr('run_id');
            var arr = [];
            $("#tab_startlist_run"+r+" table .edit input[type='text']").each(function() {
              arr.push([this.name, parseInt(this.value)]);
            });
            if(arr.length){
              console.log("sort");
              arr.sort(function(a,b){if (a[1] > b[1]) return 1; else if (a[1] < b[1]) return -1; else return 0;}); // сортируем список по новому порядку order
              console.log(arr);
              for(var i=0;i<arr.length;i++){
                arr[i][1]=i+1;
              }
              console.log(arr);
              $.ajax({
                type: "GET",
                url: "/raceinfo/race/order_list/edit",
                //dataType: 'json',
                data: {
                  data: JSON.stringify({
                    'run_id': r,
                    'order_list': arr
                  })
                },
                success:function(data) {
                //  startlist_get(r);
                  alert("Start list has been changed ");
                  $("#tab_startlist_run"+r+" table .edit").hide();

                  $("#tab_startlist_run"+r+" .btn_edit_startlist").show();
                  $("#tab_startlist_run"+r+" .btn_save_startlist").hide();
                  $("#tab_startlist_run"+r+" .btn_canceledit_startlist").hide();
                },
                error: function (error) {
                  alert('error');
                }
              })
            }
        });
        //---------------------------------
        $("body").on("click", ".btn_start", function () {
          var run_id=$(this).attr('run_id');
          var competitor_id=$(this).attr('competitor_id');
          $.ajax({
            type: "GET",
            url: "/raceinfo/run/competitor/start",
            data:({
              'run_id': run_id,
              'competitor_id': competitor_id
            }),
            success:function(data) {
              if(set_comp_status(competitor_id, "start" ,run_id)){
                console.log('start competitor - run:'+run_id+' competitor:'+competitor_id);
                $("#tab_manualcontrol tr.tr_"+run_id+"_"+competitor_id+" .status").html("started");
                $("#tab_manualcontrol tr.tr_"+run_id+"_"+competitor_id).addClass("danger");
                $("#tab_manualcontrol tr .btn_start").prop('disabled',true);
          //      $("#tab_manualcontrol .btn_finish").prop('disabled',true);
          //      $("#tab_manualcontrol tr.tr_"+run_id+"_"+competitor_id+" .btn_finish").prop('disabled',false);
              }
            },
            error: function(error) {
              alert('error - start competitor run:'+run_id+' competitor:'+competitor_id);
            }
          });
        });
        $("body").on("click", ".btn_finish", function () {
          var run_id=$(this).attr('run_id');
          var competitor_id=$(this).attr('competitor_id');
          $.ajax({
            type: "GET",
            url: "/raceinfo/run/competitor/finish",
            data:({
              'run_id': run_id,
              'competitor_id': competitor_id
            }),
            success:function(data) {
              if(set_comp_status(competitor_id, "finish" ,run_id)){
                console.log('finish competitor - run:'+run_id+' competitor:'+competitor_id);
                $("#tab_manualcontrol tr.tr_"+run_id+"_"+competitor_id+" .status").html("finished");
                $("#tab_manualcontrol tr.tr_"+run_id+"_"+competitor_id).removeClass("danger");
                $("#tab_manualcontrol tr.tr_"+run_id+"_"+competitor_id).addClass("warning");
                $("#tab_manualcontrol tr .btn_start").prop('disabled',false);
  //              $("#tab_manualcontrol .btn_finish").prop('disabled',true);
              }
            },
            error: function(error) {
              alert('error - end competitor run:'+run_id+' competitor:'+competitor_id);
            }
          });
        });
        $("body").on("click", ".btn_approveqlf", function () {
          var run_id=$(this).attr('run_id');
          var competitor_id=$(this).attr('competitor_id');
          $.ajax({
            type: "GET",
            url: "/raceinfo/approve/run/"+run_id+"/competitor/"+competitor_id,
            data:({
            }),
            success:function(data) {
              if(set_comp_status(competitor_id, "approve" ,run_id)){
                console.log('approve competitor - run:'+run_id+' competitor:'+competitor_id);
                $("#tab_manualcontrol tr.tr_"+run_id+"_"+competitor_id+" .status").html("approved");
                $("#tab_manualcontrol tr.tr_"+run_id+"_"+competitor_id).removeClass("danger");
                $("#tab_manualcontrol tr.tr_"+run_id+"_"+competitor_id).removeClass("warning");
                $("#tab_manualcontrol tr.tr_"+run_id+"_"+competitor_id).addClass("success");
                $("#tab_manualcontrol tr.tr_"+run_id+"_"+competitor_id+" .btn").prop('disabled',true);
                $("#tab_manualcontrol tr.tr_"+run_id+"_"+competitor_id+" .btn").hide();
              }
            },
            error: function(error) {
              alert('error - approve competitor run:'+run_id+' competitor:'+competitor_id);
            }
          });
        });
        $("body").on("click", ".btn_editresult", function () {
          var run_id=$(this).attr('run_id');
          var competitor_id=$(this).attr('competitor_id');
          $("#form_txt_competitor").html(competitor_id);
          $("#form_txt_run").html(run_list[run_list_ids["id"+run_id]].number);

          $("#form_run_id").val(run_id);
          $("#form_competitor_id").val(competitor_id);

          $("#popup_editresult").modal('show');
        });
        $("body").on("click", ".btn_clear", function () {
          var run_id=$(this).attr('run_id');
          var competitor_id=$(this).attr('competitor_id');
          $.ajax({
            type: "GET",
            url: "/raceinfo/run/competitor/clear",
            data:({
              'run_id': run_id,
              'competitor_id': competitor_id
            }),
            success:function(data) {
              if(set_comp_status(competitor_id, "clear" ,run_id)){
                console.log('approve competitor - run:'+run_id+' competitor:'+competitor_id);
                $("#tab_manualcontrol tr.tr_"+run_id+"_"+competitor_id+" .status").html("cleared");
                $("#tab_manualcontrol tr.tr_"+run_id+"_"+competitor_id).removeClass("danger");
                $("#tab_manualcontrol tr.tr_"+run_id+"_"+competitor_id).removeClass("warning");
                $("#tab_manualcontrol tr.tr_"+run_id+"_"+competitor_id).removeClass("success");
                $("#tab_manualcontrol .btn").prop('disabled',false);
                $("#tab_manualcontrol .btn_finish").prop('disabled',true);
              }
            },
            error: function(error) {
              alert('error - CLEAR competitor run:'+run_id+' competitor:'+competitor_id);
            }
          });
        });
        $("body").on("click", "#btn_src_save", function () {
          var data=new Array();
          $(".src_select_bib").each(function(index, el){
            if(el.value!=""){
              data.push({"data_in_id":$(el).attr("data_in_id"), "race_competitor_id":(el.value?el.value:false), "result_detail_id":($(el).attr("result_detail_id")?$(el).attr("result_detail_id"):false)});
            }
          });
          socket.emit('/change/data_in/competitors', $.getJSON(data));
          console.log("btn_src_save:");
          console.log(data);
        });
    /*
    *   END // обработка кнопок
    */





    });
function set_select_bib(){
  for(var i=0;i<run_list[0].start_list.length;i++){
    $("#src_select_bib").append($('<option>', {
    value: run_list[0].start_list[i][2].race_competitor_id,
    text: run_list[0].start_list[i][1].bib+" - "+(run_list[0].start_list[i][0].ru_lastname?run_list[0].start_list[i][0].ru_lastname:run_list[0].start_list[i][0].en_lastname)
    }));
  }
  $("#tab_datasrc").append("<button id='btn_src_save' class='btn btn-primary btn-sm'>Save data</button>");
  return true;
}
function set_html_runlist(){
  if(!run_list.length){
    console.log("ERROR: set_html_runlist : run_list is empty");
    return false;
  }else{
    console.log("CORRECT: set_html_runlist : run_list.length="+run_list.length);
    var btn='';
    $("#run_list").html(''); // очищаем таблицу
    for(var i=0; i<run_list.length; i++){ // заполняем таблицу #run_list
        btn=''; // код кнопки старта/финиша заезда
        if(run_list[i]['endtime']) //заезд завершен - ничего
          btn='';
        else if(run_list[i]['starttime']){ //заезд начат - завершить заезд
          btn='<button class="run_finish" run_id="'+run_list[i]['id']+'">Finish</button>';
        }else if(!run.id){ // заезд не начат - начать заезд
          btn='<button class="run_start" run_id="'+run_list[i]['id']+'">Start</button>';
        }
        $("#run_list").append('<tr><td>'+run_list[i]['number']+'</td><td>'+run_list[i]['starttime']+'</td><td>'+run_list[i]['endtime']+'</td><td>'+btn+'</td></tr>');
    }
    $("#run_current").html(run.number);
    return true;
  }
}
// получение стартового списка для заезда run_id
function get_startlist(run_id){
  console.log("START FUNC: get_startlist (run.id="+run_id+")");

  return $.get("/raceinfo/startlist/run/"+run_id+"/get/")
  .done(function(data){
    start_list=JSON.parse(data);
    for(var i=0;i<run_list.length;i++){
      if(run_list[i].id==run_id){
        run_list[i].start_list=start_list;
        set_html_startlist(run_list[i].id);
      }
    }
    console.log("END FUNC: get_startlist (run.id="+run_id+")");
    return start_list;
  })
}
function set_html_startlist(run_id){
  console.log("START FUNC: set_html_startlist");
  var j;
  var run=run_list[run_list_ids["id"+run_id]];
    if(run.start_list && run.start_list.length){
      $("#tab_startlist #tab_startlist_run"+run.id+" table tbody").html('');
      for(var j=0;j<run.start_list.length;j++){
        $("#tab_startlist #tab_startlist_run"+run.id+" table tbody").append('<tr class="racecompetitor_'+run.start_list[j][1].id+'"><td>'+(j+1)+'</td><td class="edit"><input type="text" name="'+run.start_list[j][1].id+'" value="'+(j+1)+'" style="width:30px;"></td><td>'+run.start_list[j][1].bib+'</td><td>'+run.start_list[j][0]['ru_lastname']+' '+ run.start_list[j][0]['ru_firstname']+' / '+run.start_list[j][0]['en_lastname']+' '+ run.start_list[j][0]['en_firstname']+'</td></tr>');
      }
      //кнопка редактирования стартового списка
      if(!$("#tab_startlist #tab_startlist_run"+run.id+" .btn_edit_startlist").length){
      $("#tab_startlist #tab_startlist_run"+run.id).append("<button value='' class='btn_edit_startlist' run_id='"+run.id+"'>edit</button>");
      $("#tab_startlist #tab_startlist_run"+run.id).append("<button value='' class='btn_save_startlist' run_id='"+run.id+"'>save</button>");
      $("#tab_startlist #tab_startlist_run"+run.id).append("<button value='' class='btn_canceledit_startlist' run_id='"+run.id+"'>cancel</button>");
      $("#tab_startlist #tab_startlist_run"+run.id+" .btn_save_startlist").hide();
      $("#tab_startlist #tab_startlist_run"+run.id+" .btn_canceledit_startlist").hide();
      }
    }
    $("#tab_startlist #tab_startlist_run"+run.id+" table .edit").hide();

  console.log("END FUNC: set_html_startlist");
}
    // получение и вывод на странице инфы о всех заездах (race_id - задан глобально)
    function runinfo_get(){
        console.log("START FUNC: runinfo_get");
              var btn='';
              $("#run_list").html(''); // очищаем таблицу
              for(var i=0; i<run_list.length; i++){ // заполняем таблицу #run_list
                btn=''; // код кнопки старта/финиша заезда
                if(run_list[i]['endtime']) //заезд завершен - ничего
                  btn='';
                else if(run_list[i]['starttime']){ //заезд начат - завершить заезд
                  btn='<button class="run_finish" run_id="'+run_list[i]['id']+'">Finish</button>';
                }else if(!run.id){ // заезд не начат - начать заезд
                  btn='<button class="run_start" run_id="'+run_list[i]['id']+'">Start</button>';
                  if(i!=0){ //для предстоящего (еще не начатого), и кроме первого (он обрабатывается отдельно) получаем стартовый список
                    get_startlist(run_list[i]['id']);
                  }
                }else{
                  console.log("run.id="+run.id);
                }
                $("#run_list").append('<tr><td>'+run_list[i]['number']+'</td><td>'+run_list[i]['starttime']+'</td><td>'+run_list[i]['endtime']+'</td><td>'+btn+'</td></tr>');
              }
              $("#run_current").html(run.number);

              //если это первый заезд либо страница только что открыта
              if(run_list[0].id==run.id || $("#tab_startlist").html()==""){
                  //подготавливаем таб со стартовыми списками по заездам
                  startlist_tab_prepare();
                  for(var i=0; i<run_list.length; i++){
                      // получаем стартовые списоки для первого заезда, и, если возможно, для всех остальных
                      get_startlist(run_list[i]['id']);
                  }
              }
              console.log("END FUNC: runinfo_get");

          }

    /*
    * Functions
    */
    //подготовка таба со стартовыми списками по заездам (#tab_startlist)
    function startlist_tab_prepare(){
      if(run_list.length){
        //console.log(run_list);
        $("#tab_startlist").append("<h2>Start lists</h2>");
        $.each(run_list, function(value){
          $("#tab_startlist").append("<div id='tab_startlist_run"+this.id+"'></div>");
          $("#tab_startlist_run"+this.id).append("<h3>Заезд "+this.number+"</h3>");
          if(!this.starttime)
              $("#tab_startlist_run"+this.id).append("<b>Статус: <span class='status'>не начат</span></b><br>");
          else if(!this.endtime)
              $("#tab_startlist_run"+this.id).append("<b>Статус: <span class='status'>активен</span></b><br>");
          else
              $("#tab_startlist_run"+this.id).append("<b>Статус: <span class='status'>завершен</span></b><br>");
          $("#tab_startlist_run"+this.id).append("<table  style='width:100%;' class='table table-bordered'><thead><tr><th>#</th><th class='edit'>New №</th><th>bib</th><th>Name</th><tr></thead><tbody></tbody></table>");
        });
        $("#tab_startlist_run"+this.id+" table .edit").hide();
      }else{
        alert("runlist error");
      }
    }

    // получение и внесение информации для вкладки "Устройства на трассах" (#tab_device)
    function courselist_tab_prepare(){
      if(course_list.length){
        $("#tab_device").append("<h2>Устройства на трассах</h2>");
        for(var i=0;i<course_list.length;i++){
          //console.log(this);
          $("#tab_device").append("<h3>Course "+course_list[i].id+" (runs: "+course_list[i].runs_str.join(", ")+")</div>");
          $("#tab_device").append("<table id='device_course_"+course_list[i].id+"' style='width:100%;' class='table table-bordered'><thead><tr><th>id</th><th class='edit'>№</th><th>distance</th><th>Type</th><tr></thead><tbody></tbody></table>");
          // получаем список девайсов для трассы this.id
          return $.get("/raceinfo/device/get/course/"+course_list[i].id)
          .done(function(data){
            var dev_list=JSON.parse(data);
            device_list["course_"+dev_list[0][0].course_id]=dev_list;
            $.each(dev_list, function(value) {
              $("#device_course_"+this[0].course_id+" tbody").append("<tr><td>"+ this[1].id+"</td><td>"+this[0].order+"</td><td>"+this[0].distance+"</td><td>"+this[1].name+"</td>");
            });
            prepare_result_tables();
            return device_list;
          })
        }
      }else{
        alert("courselist error");
        return false;
      }
    }

    // формирование список трасс (course) с заездами (runs) на них
    function courselist_get(){
      var cid_prev=null;
      for(var i=0; i<run_list.length; i++){
        if(run_list[i].course_id!=cid_prev){
          course_list.push({"id":run_list[i].course_id, "runs":Array(), "runs_str":Array(), "dev":""});
        }
        course_list[course_list.length-1].runs.push({"id":run_list[i].id, "number":run_list[i].number});
        course_list[course_list.length-1].runs_str.push(run_list[i].number);
        cid_prev=run_list[i].course_id;
      }
      return course_list;
    }

    function prepare_result_tables(){
      var run=run_list[run_list_ids["id"+run_id]];
      console.log("PREPARE_RESULT_TABLES: run_list:"+run_list.length);
      console.log(run_list);
      for(var j=0;j<run_list.length;j++){
        var run=run_list[j];

        var cid=run_list[j].course_id;
        var run_id=run_list[j].id;

        if(!$("#tab_summarytable .div_run"+run.id).length){
          console.log("table table-bordered table_run"+run.id);
          $("#tab_summarytable").append("<div class='div_run"+run.id+"'></div>");
          $("#tab_summarytable .div_run"+run.id).append("<h3>Run: "+run.number+"</h3>");
          $("#tab_summarytable .div_run"+run.id).append("<table style='width:100%;' class='table table-bordered table_run"+run.id+"'></table>");
          $("#tab_summarytable .div_run"+run.id+" table").append("<thead><tr></tr></thead>");
          $("#tab_summarytable .div_run"+run.id+" table").append("<tbody></tbody>");

          $("#tab_summarytable .div_run"+run.id+" table thead tr").append("<th>bib</th><th>Name</th><th>Status</th>");
          var d = device_list["course_"+run.course_id];
          for(var i=0;i<d.length;i++){
            $("#tab_summarytable .div_run"+run.id+" table thead tr").append("<th>"+d[i][1].name+" - "+d[i][0].distance+(i>0?"<br>Sector "+i:"")+"</th>");
          }
          $("#tab_summarytable .div_run"+run.id+" table thead tr").append("<th>Result</th>");
        }
      }
      return true;
    }

    function set_current_data(){
      console.log("set_current_data - START");
      if(Object.keys(glob_arr).length){
        console.log("set_current_data - START - glob_arr");
        var kkey, ckey;
        for(rkey in glob_arr){
          for(ckey in glob_arr[rkey]){
            sumtab_set_maininfo(glob_arr[rkey][ckey]);
          }
        }
      }else{
        // нет текущих данных

        console.log("ERROR: set_current_data: glob_arr.length is false");
      }
    }
    // получение текущих данных на момент загрузки страницы
    function get_current_data(race_id){
      console.log("START FUNC: get_current_data:");
      return $.get("/raceinfo/current_data/get/"+race_id)
       .done(function(data){
         console.log("");
         console.log("get_current_data:");
         console.log("run_list.length"+run_list.length);
         var arr=new Array();
         var row;
         var data_arr=JSON.parse(data);
         console.log(data_arr);
         for(var i=0; i<data_arr.length;i++){
           add2datasrc(data_arr[i]);
           data2arr(data_arr[i]);

         }
         console.log("glob_arr:");
         console.log(glob_arr);
         set_current_data();

        console.log("END FUNC: get_current_data:");
        return data_arr;
      })
    }
    function add2datasrc(data){
      $("#tab_data_src tbody").append("<tr class='datasrc_"+data[0].id+"'><td>"+data[3].course_id+"</td><td>"+data[3].device_id+(data[3].is_start?" - start":" -"+data[3].distance)+"</td><td>"+data[0].absolut_time+"</td><td>"+data[0].time+"</td><td>"+data[1].bib+"</td><td>"+data[2].en_firstname+" "+data[2].en_lastname +" / " + data[2].ru_lastname+" "+data[2].ru_firstname+"</td><td class='act'></td></tr>")
      $("#src_select_bib").clone()
        .attr({"id": "src_select_bib_"+data[0].id,
               "result_detail_id": data[1].id,
               "data_in_id": data[0].id})
        .appendTo("tr.datasrc_"+data[0].id+" td.act");

    }
    // переделка входящих данных в удобный массив
    function data2arr(row){
      console.log("START FUNC: data2arr");
      //if(row[0].length==1)row[0]=row[0][0];
      if(!glob_arr["run"+row[0].run_id])glob_arr["run"+row[0].run_id]=new Array();
      if(!glob_arr["run"+row[0].run_id]["comp_"+row[0].race_competitor_id]){
        glob_arr["run"+row[0].run_id]["comp_"+row[0].race_competitor_id]={
          "race_competitor_id":row[0].race_competitor_id,
          "run_id"        : row[0].run_id,
          "competitor_id" : row[1].competitor_id,
          "bib"           : row[1].bib,
          "en_firstname"  : row[2].en_firstname,
          "en_lastname"   : row[2].en_lastname,
          "ru_firstname"  : row[2].ru_firstname,
          "ru_lastname"   : row[2].ru_lastname,
          "fiscode"       : row[2].fiscode,
          "fis_points"    : row[2].fis_points,
          "nation_code_id": row[2].nation_code_id,
          "state"     : false,
          "reason"    : row[4].reason, // или row[1].reason
          "status_id" : row[4].status_id,
          "is_start"  : row[4].is_start,
          "is_finish" : row[4].is_finish,
          "is_manual" : row[4].is_manual,
          "timerun"   : row[4].timerun,
          "rank"      : false, // rank на заезде или вообще?
          "course_id" : row[3].course_id, // надо добавить в выдачу
          "dev_data"  : new Array()
        };
      }
      if(!glob_arr["run"+row[0].run_id]["comp_"+row[0].race_competitor_id]["dev_data"]["dev_"+row[0].course_device_id]){
        //здесб можно зафигачить проверку на ошибочные данные
        glob_arr["run"+row[0].run_id]["comp_"+row[0].race_competitor_id]["dev_data"]["dev_"+row[0].course_device_id]={
          "speed" : row[0].speed,
          "time"  : row[0].time,
          "diff"  : row[0].diff,
          "rank"  : row[0].rank,
          "sectortime": row[0].sectortime,
          "sectordiff": row[0].sectordiff,
          "sectorrank": row[0].sectorrank,
        };
        glob_arr["run"+row[0].run_id]["comp_"+row[0].race_competitor_id].reason     = row[4].reason; // или row[1].reason
        glob_arr["run"+row[0].run_id]["comp_"+row[0].race_competitor_id].status_id  = row[4].status_id;
        glob_arr["run"+row[0].run_id]["comp_"+row[0].race_competitor_id].is_start   = row[4].is_start;
        glob_arr["run"+row[0].run_id]["comp_"+row[0].race_competitor_id].is_finish  = row[4].is_finish;
        glob_arr["run"+row[0].run_id]["comp_"+row[0].race_competitor_id].is_manual  = row[4].is_manual;
        glob_arr["run"+row[0].run_id]["comp_"+row[0].race_competitor_id].timerun    = row[0].time;
        glob_arr["run"+row[0].run_id]["comp_"+row[0].race_competitor_id].rank       = row[1].rank; // rank на заезде или вообще?
        glob_arr["run"+row[0].run_id]["comp_"+row[0].race_competitor_id].course_id  = row[3].course_id; // надо добавить в выдачу

      }else{
        console.log("END FUNC: data2arr - return false");
        return false;
      }
      console.log("END FUNC: data2arr - return obj");
      return {"run_id":row[0].run_id,"race_competitor_id":row[0].race_competitor_id};
    }
    // проверка текущего состония спортсмена и можно ли его переводить на старт/финиш/апрув/clear - используем при нажатии на кнопки
    function set_comp_status(competitor_id, state ,run_id){
      var err="";
      if(!comp_state["run_"+run_id])comp_state["run_"+run_id]=new Array();

        if(state=="start"){
          if(!comp_state["run_"+run_id]["comp_"+competitor_id])
            comp_state["run_"+run_id]["comp_"+competitor_id]="start";
          else if(comp_state["run_"+run_id]["comp_"+competitor_id]=="start")
            err = "error - can't start because has already started";
          else if(comp_state["run_"+run_id]["comp_"+competitor_id]=="finish")
            err = "error - can't start because has already finished";
          else if(comp_state["run_"+run_id]["comp_"+competitor_id]=="approve")
            err = "error - can't start because has been already approved";
          else if(comp_state["run_"+run_id]["comp_"+competitor_id]=="manual_approve")
            err = "error - can't start because has been approved manualy";
        }

        if(state=="finish"){
          if(!comp_state["run_"+run_id]["comp_"+competitor_id])
            err = "error - can't finish because hasn't started";
          else if(comp_state["run_"+run_id]["comp_"+competitor_id]=="finish")
            err = "error - can't finish because already has finished";
          else if(comp_state["run_"+run_id]["comp_"+competitor_id]=="approve")
            err = "error - can't finish because already has been approved";
          else if(comp_state["run_"+run_id]["comp_"+competitor_id]=="manual_approve")
            err = "error - can't finish because already has been approved manualy";
          else
            comp_state["run_"+run_id]["comp_"+competitor_id]="finish";
        }

        if(state=="approve"){
/*          if(!comp_state["run_"+run_id]["comp_"+competitor_id])
            err = "error - can't be approved because hasn't started";
          else if(comp_state["run_"+run_id]["comp_"+competitor_id]=="start")
            err = "error - can't be approved because has to finish before";
          else if(comp_state["run_"+run_id]["comp_"+competitor_id]=="approve")
            err = "error - can't be approved because already has been approved";
          else if(comp_state["run_"+run_id]["comp_"+competitor_id]=="manual_approve")
            err = "error - can't be approved because already has been approved manualy";
          else if(comp_state["run_"+run_id]["comp_"+competitor_id]=="finish")
*/            comp_state["run_"+run_id]["comp_"+competitor_id]="approve";

        }

        if(state=="manual_approve"){
/*          if(!comp_state["run_"+run_id]["comp_"+competitor_id])
            err = "error - can't be approved because hasn't started";
          else if(comp_state["run_"+run_id]["comp_"+competitor_id]=="start")
            err = "error - can't be approved because has to finish before";
          else if(comp_state["run_"+run_id]["comp_"+competitor_id]=="approve")
            err = "error - can't be approved because already has been approved";
          else if(comp_state["run_"+run_id]["comp_"+competitor_id]=="manual_approve")
            err = "error - can't be approved because already has been approved manualy";
          else if(comp_state["run_"+run_id]["comp_"+competitor_id]=="finish")
*/            comp_state["run_"+run_id]["comp_"+competitor_id]="manual_approve";
        }

        if(state=="clear"){
          if(!comp_state["run_"+run_id]["comp_"+competitor_id])
            err = "error - can't be cleared because hasn't started";
          else if(comp_state["run_"+run_id]["comp_"+competitor_id]=="approve")
            err = "error - can't be cleared because already has been approved";
          else if(comp_state["run_"+run_id]["comp_"+competitor_id]=="manual_approve")
            err = "error - can't be cleared because already has been approved manualy";
          else
            comp_state["run_"+run_id]["comp_"+competitor_id]=false;
        }

        if(err){
          alert(err);
          return false;
        }else
          return true;
    }
    function set_list_for_manualcontrol(){
      console.log("START FUNC: set_list_for_manualcontrol");
      console.log(run_list[run_list_ids["id"+run.id]].start_list );
      if(run_list[run_list_ids["id"+run.id]].start_list && run_list[run_list_ids["id"+run.id]].start_list.length){
        $.each(run_list[run_list_ids["id"+run.id]].start_list, function(value){
          var competitor_id=this[2].race_competitor_id;
          var btn_start="<button class='btn btn-primary btn-sm btn_start' competitor_id='"+competitor_id+"' run_id='"+run.id+"'>Start</button>";
          var btn_finish="<button class='btn btn-success btn-sm btn_finish' competitor_id='"+competitor_id+"' run_id='"+run.id+"'>Finish</button>";

          var btn_approveqlf="<button class='btn btn-defaul btn-sm btn_approveqlf' competitor_id='"+competitor_id+"' run_id='"+run.id+"'>Approve QLF</button>";
          var btn_editresult="<button class='btn btn-defaul btn-sm btn_editresult' competitor_id='"+competitor_id+"' run_id='"+run.id+"'>Edit Manually</button>";

          var btn_clearresult="<button class='btn btn-danger btn-sm btn_clear' competitor_id='"+competitor_id+"' run_id='"+run.id+"'>Clear</button>";

          $("#tab_manualcontrol tbody").append("<tr class='tr_"+run.id+"_"+competitor_id+"'><td class='order'>"+this[2].order+"</td><td>"+this[1].bib+"</td><td>"+this[0].en_firstname+" "+this[0].en_laststname+" / "+this[0].ru_firstname+" "+this[0].ru_laststname+"</td><td class='status'></td><td>"+btn_start+btn_finish+"</td><td>"+btn_approveqlf+btn_editresult+"</td><td>"+btn_clearresult+"</td></tr>");
        });
      }else{
        console.log("ERROR! set_list_for_manualcontrol: run_list["+run_list_ids["id"+run.id]+"].start_list.length is false");
      }
      console.log("END FUNC: set_list_for_manualcontrol");
    }

    //форматирование чисел
    function nform(v){
      return number_format(v, 4, '.', ' ');
    }
    //форматирование времени
    function tform(v){
      return number_format(v, 0, '.', ' ');
    }

    function number_format(number, decimals, dec_point, thousands_sep) {
        number = (number + '').replace(/[^0-9+\-Ee.]/g, '');
        var n = !isFinite(+number) ? 0 : +number,
            prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
            sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
            dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
            s = '',
            toFixedFix = function (n, prec) {
                var k = Math.pow(10, prec);
                return '' + Math.round(n * k) / k;
            };
        s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
        if (s[0].length > 3) {
            s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
        }
        if ((s[1] || '').length < prec) {
            s[1] = s[1] || '';
            s[1] += new Array(prec - s[1].length + 1).join('0');
        }
        return s.join(dec);
    }
    // getstatusById
    function getObjById(arr,prop,val){
        for(var idx = 0, l = arr.length;arr[idx] && arr[idx][prop] !== val;idx++);
        return idx === l ? false : arr[idx];
    }

    </script>
    {% endblock %}
