{% extends "base.html" %}
{% import "_user.html" as macros %}

{% block title %} Получатель{% endblock %}

{% block page_content %}
<script>
var finish_res= new Array();
</script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://127.0.0.1:5000');
    socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
    });
    socket.on('newData', function(data) {
      var i;
      var data_arr=JSON.parse(data);
      var list = new Array(data_arr.length);
      var course = new Array(data_arr.length);
      var sector = new Array(data_arr.length);
      var lastcomp=new Array(data_arr[data_arr.length-1].length);
      lastcomp=data_arr[data_arr.length-1];
      for (i = 0; i < data_arr.length; i++) {
        list[i]=[i, data_arr[i][1].bib, data_arr[i][0].time, data_arr[i][0].sectortime];
        course[i]=[i, data_arr[i][1].bib, data_arr[i][0].time, data_arr[i][0].sectortime];
        sector[i]=[i, data_arr[i][1].bib, data_arr[i][0].time, data_arr[i][0].sectortime];
      }
//      console.log(data_arr);
      function sort_course(a, b) {
          if (a[2] > b[2]) return 1; else if (a[2] < b[2]) return -1; else return 0;
      }

      course.sort(sort_course);
      for(i=0;i<course.length;i++){
         data_arr[course[i][0]][0].rank=i+1;
         data_arr[i][0].diff=data_arr[i][0].time-course[0][2];
      }
//      console.log('course');
//      console.log(course);

//      var sector = course;
      function sort_sector(a, b) {
          return a[3] == b[3] ? a > b : a[3] > b[3]
      }

      sector.sort(sort_sector);
      for(i=0;i<sector.length;i++){
        data_arr[sector[i][0]][0].sectorrank=i+1;
        data_arr[i][0].sectordiff=data_arr[i][0].sectortime-sector[0][3];
      }
//      console.log('sector');
  //    console.log(sector);
  $("#compname").html(lastcomp[2].en_lastname+" "+lastcomp[2].en_firstname);
  $("#compbib").html(lastcomp[1].bib);

      if(lastcomp[4].name=="Start"){
        $("#compname").html(lastcomp[2].en_lastname+" "+lastcomp[2].en_firstname);
        $("#compbib").html(lastcomp[1].bib);
        $("#tabcomp").html('');
        $("#tabfinish").append("<tr id='fintr"+lastcomp[1].bib+"'><td class='rank'>-</td><td class='time'>"+lastcomp[0].time+"</td><td class='diff'>-</td><td>"+lastcomp[1].bib+"</td><td>"+ lastcomp[2].en_lastname+" "+lastcomp[2].en_firstname+"</td><td class='status'>Started</td><td class='action'><button value=''>edit</button></td></tr>");
      }else if (lastcomp[4].name=="Finish") {
          finish_res.push([lastcomp[1].bib,lastcomp[2].en_firstname, lastcomp[2].en_lastname,lastcomp[0].time]);
          console.log("lastcomp=");
          console.log(lastcomp);
          finish_res.sort(sort_sector);
          for(i=0;i<finish_res.length;i++){
            $("#fintr"+finish_res[i][0]+" .rank").html(i+1);
            $("#fintr"+finish_res[i][0]+" .diff").html(finish_res[i][3]-finish_res[0][3]);
          }
          $("#fintr"+lastcomp[1].bib+" .status").html("finished");
          $("#fintr"+lastcomp[1].bib+" .action").append("<button>Approve QLF</button>");
          $("#fintr"+lastcomp[1].bib+" .time").html(lastcomp[0].time);
          console.log(finish_res);
      //    $("#fintr"+lastcomp[1].bib).html("<td class='rank'>"+lastcomp[0].rank+"</td><td>"+lastcomp[0].time+"</td><td class='diff'>"+lastcomp[0].diff+"</td><td>"+lastcomp[1].bib+"</td><td>"+ lastcomp[2].en_lastname+" "+lastcomp[2].en_firstname+"</td><td>Finished</td>");
      }else{
          $("#fintr"+lastcomp[1].bib+" .time").html(lastcomp[0].time);
          $("#fintr"+lastcomp[1].bib+" .status").html("In progress");
      }
      $("#tabcomp").append("<tr><td>"+lastcomp[4].name+" - "+lastcomp[3].distance+"m (#"+lastcomp[3].device_id+")</td><td>"+lastcomp[0].speed+"</td><td>"+lastcomp[0].rank+"</td><td>"+lastcomp[0].diff+"</td><td>"+lastcomp[0].time+"</td><td>"+lastcomp[0].sectorrank+"</td><td>"+lastcomp[0].sectordiff+"</td><td>"+lastcomp[0].sectortime+"</td></tr>");
      $("#tabsector").html('');
      //$("#tabsector").append('<tr><td colspan="5">DEVICE: '+lastcomp[3].distance+"m (#"+lastcomp[3].device_id+'</td></tr>');
      for(i=0;i<sector.length;i++){
//        console.log('i='+i);
//        console.log('sector[i]='+sector[i]);
          $("#tabsector").append("<tr><td>"+data_arr[sector[i][0]][0].sectorrank+"</td><td>"+data_arr[sector[i][0]][0].sectortime+"</td><td>"+data_arr[sector[i][0]][0].sectordiff+"</td><td>"+data_arr[sector[i][0]][1].bib+"</td><td>"+ data_arr[sector[i][0]][2].en_lastname+" "+data_arr[sector[i][0]][2].en_firstname+"</td></tr>");
      }
      $("#tabcourse").html('');
      for(i=0;i<course.length;i++){
        $("#tabcourse").append("<tr><td>"+data_arr[course[i][0]][0].rank+"</td><td>"+data_arr[course[i][0]][0].time+"</td><td>"+data_arr[course[i][0]][0].diff+"</td><td>"+data_arr[course[i][0]][1].bib+"</td><td>"+ data_arr[course[i][0]][2].en_lastname+" "+data_arr[course[i][0]][2].en_firstname+"</td></tr>");
      }

      //$("#tab").append(list+"<br>");
    });
</script>
<div>
  <h2>Competitor data</h2>
  <b>
    NAME: <span id="compname">-</span>
    <br>
    BIB: <span id="compbib">-</span>
    <br><br>
  </b>
  <table style="width:100%;" class="table table-bordered">
    <thead>
      <th>Device</th>
      <th>Speed</th>

      <th>Rank</th>
      <th>Diff</th>
      <th>Time</th>

      <th>Sector Rank</th>
      <th>Sector Diff</th>
      <th>Sector Time</th>
    </thead>
    <tbody id="tabcomp">
    </tbody>
  </table>
</div>

<div>
  <h2>Sector data (for current dev)</h2>
  <table style="width:100%;" class="table table-bordered">
    <thead>
      <th>Rank</th>
      <th>Time</th>
      <th>Diff</th>
      <th>Bib</th>
      <th>Name</th>
    </thead>
    <tbody id="tabsector">
    </tbody>
  </table>
</div>

<div>
  <h2>Course data (for current dev)</h2>
  <table style="width:100%;" class="table table-bordered">
    <thead>
      <th>Rank</th>
      <th>Time</th>
      <th>Diff</th>
      <th>Bib</th>
      <th>Name</th>
    </thead>
    <tbody id="tabcourse">
    </tbody>
  </table>
</div>

<div>
  <h2>Finish data</h2>
  <table style="width:100%;" class="table table-bordered">
    <thead>
      <th>Rank</th>
      <th>Time</th>
      <th>Diff</th>
      <th>Bib</th>
      <th>Name</th>
      <th>Status</th>
      <th>Aprove</th>
    </thead>
    <tbody id="tabfinish">
    </tbody>
  </table>
</div>
{% endblock %}
