{% extends "base.html" %}
{% import "_user.html" as macros %}

{% block title %} Получатель{% endblock %}

{% block page_content %}

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">

    var socket = io.connect('http://127.0.0.1:5000');
    socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
    });
    var finish_res= new Array();
    socket.on('newData', function(data) {

      var i;
      var data_arr=JSON.parse(data);
      var list = new Array(data_arr.length);
      var course = new Array(data_arr.length);
      var sector = new Array(data_arr.length);
      var lastcomp=new Array(data_arr[data_arr.length-1].length);

      lastcomp=data_arr[data_arr.length-1];

      if(data_arr.length<=1 && lastcomp[4].name=="Start"){
        console.log("data_arr.length=",data_arr.length);
        console.log("lastcomp[4].name=",lastcomp[4].name);
        // на всякий случай очищаем массив finish_res
        finish_res.length = 0;
        //finiss_res=
      }
      console.log("finish_res.length="+finish_res.length);
      for (i = 0; i < data_arr.length; i++) {
        list[i]=[i, data_arr[i][1].bib, data_arr[i][0].time, data_arr[i][0].sectortime];
        course[i]=[i, data_arr[i][1].bib, data_arr[i][0].time, data_arr[i][0].sectortime];
        sector[i]=[i, data_arr[i][1].bib, data_arr[i][0].time, data_arr[i][0].sectortime];
      }

      console.log("data_arr="+data_arr);

      //сортируем результаты спортсменов по всей трассе (от старта до текущего девайса)
      function sort_course(a, b) {
          if (a[2] > b[2]) return 1; else if (a[2] < b[2]) return -1; else return 0;
      }

      course.sort(sort_course);
      for(i=0;i<course.length;i++){
         data_arr[course[i][0]][0].rank=i+1;
         data_arr[i][0].diff=data_arr[i][0].time-course[0][2];
      }
//      console.log('course');
//      console.log(course);

      //сортируем результаты спортсменов по текущему сектору
      function sort_sector(a, b) {
          return a[3] == b[3] ? a > b : a[3] > b[3]
      }

      sector.sort(sort_sector);
      for(i=0;i<sector.length;i++){
        data_arr[sector[i][0]][0].sectorrank=i+1;
        data_arr[i][0].sectordiff=data_arr[i][0].sectortime-sector[0][3];
      }
//      console.log('sector');
//      console.log(sector);
      $("#compname").html(lastcomp[2].en_lastname+" "+lastcomp[2].en_firstname);
      $("#compbib").html(lastcomp[1].bib);

      if(lastcomp[4].name=="Start"){
        $("#compname").html(lastcomp[2].en_lastname+" "+lastcomp[2].en_firstname);
        $("#compbib").html(lastcomp[1].bib);
        $("#tabcomp").html('');
        $("#tabfinish").append("<tr id='fintr"+lastcomp[1].bib+"'><td>"+data_arr.length+"</td><td class='rank'>-</td><td class='time'>"+lastcomp[0].time+"</td><td class='diff'>-</td><td>"+lastcomp[1].bib+"</td><td>"+ lastcomp[2].en_lastname+" "+lastcomp[2].en_firstname+"</td><td class='status'>Started</td><td class='action' id='action"+lastcomp[1].run_id+"_"+lastcomp[0].race_competitor_id+"'><button value='' class='editresult' run_id='"+lastcomp[1].run_id+"' competitor_id='"+lastcomp[0].race_competitor_id+"'>edit</button></td></tr>");
      }else{
        if (lastcomp[4].name=="Finish") {
          finish_res.push([lastcomp[1].bib,lastcomp[2].en_firstname, lastcomp[2].en_lastname,lastcomp[0].time]);
          console.log("finish_res=");
          console.log(finish_res);
          console.log("lastcomp=");
          console.log(lastcomp);
          //finish_res.sort(sort_sector);
          /*var finish_res_sort=finish_res;
          finish_res_sort.sort(sort_sector);
          for(i=0;i<finish_res_sort.length;i++){
            $("#fintr"+finish_res_sort[i][0]+" .rank").html(i+1);
            $("#fintr"+finish_res_sort[i][0]+" .diff").html(finish_res_sort[i][3]-finish_res_sort[0][3]);
          }
          */
          for(i=0;i<course.length;i++){
            $("#fintr"+course[i][1]+" .rank").html(i+1);
            $("#fintr"+course[i][1]+" .diff").html(data_arr[course[i][0]][0].diff);

          }
        //  console.log(course);
        //  $("#fintr"+lastcomp[1].bib+" .rank").html()
          $("#fintr"+lastcomp[1].bib+" .status").html("finished");
          $("#fintr"+lastcomp[1].bib+" .action").append("<button class='approveQLF' absolut_time='"+lastcomp[0].absolut_time+"' competitor_id='"+lastcomp[1].id+"' run_id='"+lastcomp[1].run_id+"'>Approve QLF</button>");
          $("#fintr"+lastcomp[1].bib+" .time").html(lastcomp[0].time);

      //    $("#fintr"+lastcomp[1].bib).html("<td class='rank'>"+lastcomp[0].rank+"</td><td>"+lastcomp[0].time+"</td><td class='diff'>"+lastcomp[0].diff+"</td><td>"+lastcomp[1].bib+"</td><td>"+ lastcomp[2].en_lastname+" "+lastcomp[2].en_firstname+"</td><td>Finished</td>");
        }else{
          $("#fintr"+lastcomp[1].bib+" .time").html(lastcomp[0].time);
          $("#fintr"+lastcomp[1].bib+" .status").html("In progress");
        }
      }
      $("#tabcomp").append("<tr><td>"+lastcomp[4].name+" - "+lastcomp[3].distance+"m (#"+lastcomp[3].device_id+")</td><td>"+lastcomp[0].speed+"</td><td>"+lastcomp[0].rank+"</td><td>"+lastcomp[0].diff+"</td><td>"+lastcomp[0].time+"</td><td>"+lastcomp[0].sectorrank+"</td><td>"+lastcomp[0].sectordiff+"</td><td>"+lastcomp[0].sectortime+"</td></tr>");
      $("#tabsector").html('');
      //$("#tabsector").append('<tr><td colspan="5">DEVICE: '+lastcomp[3].distance+"m (#"+lastcomp[3].device_id+'</td></tr>');
      for(i=0;i<sector.length;i++){
//        console.log('i='+i);
//        console.log('sector[i]='+sector[i]);
          $("#tabsector").append("<tr><td>"+data_arr[sector[i][0]][0].sectorrank+"</td><td>"+data_arr[sector[i][0]][0].sectortime+"</td><td>"+data_arr[sector[i][0]][0].sectordiff+"</td><td>"+data_arr[sector[i][0]][1].bib+"</td><td>"+ data_arr[sector[i][0]][2].en_lastname+" "+data_arr[sector[i][0]][2].en_firstname+"</td></tr>");
      }
      $("#tabcourse").html('');
      for(i=0;i<course.length;i++){
        $("#tabcourse").append("<tr><td>"+data_arr[course[i][0]][0].rank+"</td><td>"+data_arr[course[i][0]][0].time+"</td><td>"+data_arr[course[i][0]][0].diff+"</td><td>"+data_arr[course[i][0]][1].bib+"</td><td>"+ data_arr[course[i][0]][2].en_lastname+" "+data_arr[course[i][0]][2].en_firstname+"</td></tr>");
      }

      //$("#tab").append(list+"<br>");
    });
</script>
<ul class="nav nav-tabs">
  <li class="active"><a href="#tab_runs" data-toggle="tab">Заезды</a></li>
  <li><a href="#tab_startlist" data-toggle="tab">Стартовые списки</a></li>
  <li><a href="#tab_curcompetitor" data-toggle="tab">Текущие результаты</a></li>
  <li><a href="#tab_summarytable" data-toggle="tab">Все результаты</a></li>
</ul>
<div class="tab-content">

    <div id="tab_runs" class="tab-pane fade in active">
      <h2>Заезды</h2>
      <h3>Current run <span id="run_current"></span></h3>
      <table style="width:100%;" class="table table-bordered">
        <thead>
          <tr>
            <th>№</th>
            <th>Start time</th>
            <th>End time</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody id="run_list">
        </tbody>
      </table>
    </div>

    <div id="tab_startlist" class="tab-pane fade"></div>

    <div id="tab_summarytable" class="tab-pane fade">
      <h2>Summary tab</h2>
      <table style="width:100%;" class="table table-bordered" id="tabsummary">
        <thead>
          <tr>
            <th>bib/dev</th>
            <th>Start</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Finish</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>

    <div id="tab_curcompetitor" class="tab-pane fade">
      <h2>Competitor data</h2>
      <h3>
        NAME: <span id="compname">-</span>
        <br>
        BIB: <span id="compbib">-</span>
      </h3>
      <br><br>
      <table style="width:100%;" class="table table-bordered">
        <thead>
          <tr>
            <th>Device</th>
            <th>Speed</th>

            <th>Rank</th>
            <th>Diff</th>
            <th>Time</th>

            <th>Sector Rank</th>
            <th>Sector Diff</th>
            <th>Sector Time</th>
          </tr>
        </thead>
        <tbody id="tabcomp">
        </tbody>
      </table>

      <h2>Sector data (for current dev)</h2>
      <table style="width:100%;" class="table table-bordered">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Time</th>
            <th>Diff</th>
            <th>Bib</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody id="tabsector">
        </tbody>
      </table>

      <h2>Course data (for current dev)</h2>
      <table style="width:100%;" class="table table-bordered">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Time</th>
            <th>Diff</th>
            <th>Bib</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody id="tabcourse">
        </tbody>
      </table>

      <h2>Finish data</h2>
      <table style="width:100%;" class="table table-bordered">
        <thead>
          <tr>
            <th>№</th>
            <th>Rank</th>
            <th>Time</th>
            <th>Diff</th>
            <th>Bib</th>
            <th>Name</th>
            <th>Status</th>
            <th>Aprove</th>
          </tr>
        </thead>
        <tbody id="tabfinish">
        </tbody>
      </table>
    </div>

</div>








<!-- HTML-код модального окна -->
<div id="popup_editresult" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="" name="form_editresult" id="form_editresult">
      <!-- Заголовок модального окна -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Ручной ввод результатов:
          <BR>Спортсмен: <span id="form_txt_competitor"></span>
          <BR>Заезд: <span id="form_txt_run"></span>
        </h4>
      </div>
      <!-- Основное содержимое модального окна -->
      <div class="modal-body">
        <div class="container-fluid">
          <!-- Контейнер, в котором можно создавать классы системы сеток -->
          <div class="row">
            <div class="col-md-2">Status:</div><div class="col-md-10"><select name="status" id="form_status"></select></div>
          </div>
          <div class="row">
            <div class="col-md-2">Time</div><div class="col-md-10"><input type="text" name="time" id="form_time"></div>
          </div>
          <div class="row">
            <div class="col-md-2">Reason</div><div class="col-md-10"><input type="text" name="reason" id="form_reason" style="width:100%;"></div>
            <div class="col-md-2">Gate</div><div class="col-md-10"><input type="text" name="gate" id="form_gate" style="width:2em;"></div>
          </div>
        </div>
      </div>
      <!-- Футер модального окна -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary editform_approve">Approve</button>

        <input type="hidden" id="form_competitor_id" name="competitor_id" value="">
        <input type="hidden" id="form_run_id" name="run_id" value="">

      </div>
    </form>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
var huy='';

var race_id=1; // пока задаем вручную
var run={'id':null,'number':null}; // активный заезд
var run_list=new Array(); // список всех заездов для race_id отсортированных по порядку (number)
var run_list_ids=new Array(); // массив run_list_ids[run_id]=run_list[index] - соответствие id_run элементам в массиве run_list'

var status_list; //список статусов
var start_list; //стартовые списки на все заезды

$(document).ready(function () {
  // подтверждение заезда спортсмена со статусом QLF
  $("body").on("click", ".approveQLF", function () {
      $.ajax({
        url: "/raceinfo/approve/run/"+$(this).attr('run_id')+"/competitor/"+$(this).attr('run_id'),
        //dataType: 'json',
        data: {
          data: JSON.stringify({
            'absolut_time':$(this).attr('absolut_time')}
          )},
          success: $.proxy(function(json) {
            console.log("#action"+$(this).attr('run_id')+"_"+$(this).attr('run_id'));
            $("#action"+$(this).attr('run_id')+"_"+$(this).attr('run_id')).html("Approved");
          }, this),
          /*success:function(data) {
            console.log("#action"+$(this).attr('run_id')+"_"+$(this).attr('run_id'));
            $("#action"+$(this).attr('run_id')+"_"+$(this).attr('run_id')).html("Approved");
          },*/
          error: function (error) {alert('error'); }
      });

  });

  // получение и вывод на странице инфы о всех заездах (race_id - задан глобально)
  runinfo_get();

  // получаем список статусов
  $.get("/raceinfo/status/get")
  .done(function(data){
    status_list=JSON.parse(data);
    $.each(status_list, function(value) {
      $("#form_status").append($("<option></option>", {value: this.id, text: this.name+" - "+this.description}));
    })
  })

  // обработка кнопки финиш заезда
  $("body").on("click", ".run_finish", function () {
    $.ajax({
      type: "GET",
      url: "/raceinfo/race/"+race_id+"/run/"+$(this).attr('run_id')+"/stop",
    })
      .done(function(data) {
        runinfo_get();
        $("#tab_startlist_run"+$(this).attr('run_id')+" .status").html("завершен");
      });
  });

  // обработка кнопки старт заезда
  $("body").on("click", ".run_start", function () {
    $.ajax({
      type: "GET",
      url: "/raceinfo/race/"+race_id+"/run/"+$(this).attr('run_id')+"/start",
    })
      .done(function(data) {
        runinfo_get();
        $("#tab_startlist_run"+$(this).attr('run_id')+" .status").html("активен");
      });
  });

  // обработка кнопки ручного ввода результата - модальное окно #popup_editresult
  $("body").on("click", ".editresult", function () {
    console.log($(this).attr('run_id'));
    $("#form_txt_competitor").html($(this).attr('competitor_id'));
    console.log("num="+run_list[run_list_ids["id"+$(this).attr('run_id')]].number);
    $("#form_txt_run").html(run_list[run_list_ids["id"+$(this).attr('run_id')]].number);

    $("#form_run_id").val($(this).attr('run_id'));
    $("#form_competitor_id").val($(this).attr('competitor_id'));

    $("#popup_editresult").modal('show');
  });

  // ручной ввод результата
  $("body").on("click", ".editform_approve", function () {
      $.ajax({
        type: "GET",
        url: "/raceinfo/approve/edit/run/"+$("#form_run_id").val()+"/competitor/"+$("#form_competitor_id").val(),
        //dataType: 'json',
        data: {
          data: JSON.stringify({
            'absolut_time': $("#form_time").val(),
            'reason': $("#form_reason").val(),
            'gate': $("#form_gate").val(),
            'status_id':  $("#form_status").val()
          })
        },
        success:function(data) {
          $("#action"+$("#form_run_id").val()+"_"+$("#form_competitor_id").val()).html("Approved");
          $("#popup_editresult").modal('hide');
        },
        error: function (error) {alert('error');}
      })
  });

  $("body").on("click", ".btn_edit_startlist", function () {
      var r=$(this).attr('run_id');
      $("#tab_startlist_run"+r+" table .edit").show();
      $("#tab_startlist_run"+r+" table .edit").show();

      $("#tab_startlist_run"+r+" .btn_edit_startlist").hide();
      $("#tab_startlist_run"+r+" .btn_save_startlist").show();
      $("#tab_startlist_run"+r+" .btn_canceledit_startlist").show();
  });
  $("body").on("click", ".btn_canceledit_startlist", function () {
    var r=$(this).attr('run_id');
    $("#tab_startlist_run"+r+" table .edit").hide();
    $("#tab_startlist_run"+r+" table .edit").hide();

    $("#tab_startlist_run"+r+" .btn_edit_startlist").show();
    $("#tab_startlist_run"+r+" .btn_save_startlist").hide();
    $("#tab_startlist_run"+r+" .btn_canceledit_startlist").hide();
  });
  $("body").on("click", ".btn_save_startlist", function () {
      var r=$(this).attr('run_id');
      var arr = [];
      //$("#tab_startlist_run"+r+" table .edit input")
      $("#tab_startlist_run"+r+" table .edit input[type='text']").each(function() {
        arr.push([this.name, parseInt(this.value)]);
      });
      if(arr.length){
        console.log("sort");
        arr.sort(function(a,b){if (a[1] > b[1]) return 1; else if (a[1] < b[1]) return -1; else return 0;}); // сортируем список по новому порядку order
        console.log(arr);
        for(var i=0;i<arr.length;i++){
          arr[i][1]=i+1;
        }
        console.log(arr);
        $.ajax({
          type: "GET",
          url: "/raceinfo/race/order_list/edit",
          //dataType: 'json',
          data: {
            data: JSON.stringify({
              'run_id': r,
              'order_list': arr
            })
          },
          success:function(data) {
          //  startlist_get(r);
            alert("ready "+r);
          },
          error: function (error) {alert('error');}
        })
      }
      //console.log(data);
/*      $("#tab_startlist_run"+r+" table .edit").show();
      $("#tab_startlist_run"+r+" table .edit").show();

      $("#tab_startlist_run"+r+" .btn_edit_startlist").hide();
      $("#tab_startlist_run"+r+" .btn_save_startlist").show();
      $("#tab_startlist_run"+r+" .btn_canceledit_startlist").show();
*/
  });

});

// получение и вывод на странице инфы о всех заездах (race_id - задан глобально)
function runinfo_get(){
    $.ajax({
      type: "GET",
      url: "/raceinfo/run/get/",
      data: {
        'race_id': race_id
        }
    })
      .done(function(data) {
        if ( console && console.log ) {
          var btn='';
          $("#run_list").html(''); // очищаем таблицу
          run_list = JSON.parse(data);
          run_list.sort(function(a,b){return a['number'] == b['number'] ? a > b : a['number'] > b['number']}); // сортируем заезды по порядку number
          run={'id':null,'number':'-'};
          for(var i=0; i<run_list.length; i++){ // заполняем таблицу #run_list
            btn=''; // код кнопки старта/финиша заезда
            if(run_list[i]['endtime']) //заезд завершен - ничего
              btn='';
            else if(run_list[i]['starttime']){ //заезд начат - завершить заезд
              btn='<button class="run_finish" run_id="'+run_list[i]['id']+'">Finish</button>';
              run={'id':run_list[i]['id'],'number':run_list[i]['number']}; // данные активного(текущего) заезда
            }else if(!run.id){ // заезд не начат - начать заезд
              btn='<button class="run_start" run_id="'+run_list[i]['id']+'">Start</button>';
              if(i!=0){ //для предстоящего (еще не начатого), и кроме первого (он обрабатывается отдельно) получаем стартовый список
                startlist_get(run_list[i]['id']);
              }
            }
            $("#run_list").append('<tr><td>'+run_list[i]['number']+'</td><td>'+run_list[i]['starttime']+'</td><td>'+run_list[i]['endtime']+'</td><td>'+btn+'</td></tr>');
            run_list_ids["id"+run_list[i]['id']]=i;
          }
          $("#run_current").html(run.number);

          console.log($("#tab_startlist").html()==false);
          //если это первый заезд либо страница только что открыта
          if(run_list[0].id==run.id || $("#tab_startlist").html()==""){
              //подготавливаем таб со стартовыми списками по заездам
              startlist_tab_prepare();
              for(var i=0; i<run_list.length; i++){
                  // получаем стартовые списоки для первого заезда, и, если возможно, для всех остальных
                  startlist_get(run_list[i]['id']);
              }
          }

          function startlist_tab_prepare(){
            if(run_list.length){
              //console.log(run_list);
              $("#tab_startlist").append("<h2>Start lists</h2>");
              $.each(run_list, function(value){
                $("#tab_startlist").append("<div id='tab_startlist_run"+this.id+"'></div>");
                $("#tab_startlist_run"+this.id).append("<h3>Заезд "+this.number+"</h3>");
                if(!this.starttime)
                    $("#tab_startlist_run"+this.id).append("<b>Статус: <span class='status'>не начат</span></b><br>");
                else if(!this.endtime)
                    $("#tab_startlist_run"+this.id).append("<b>Статус: <span class='status'>активен</span></b><br>");
                else
                    $("#tab_startlist_run"+this.id).append("<b>Статус: <span class='status'>завершен</span></b><br>");
                $("#tab_startlist_run"+this.id).append("<table  style='width:100%;' class='table table-bordered'><thead><tr><th>#</th><th class='edit'>New №</th><th>bib</th><th>Name</th><tr></thead><tbody></tbody></table>");
              });
              $("#tab_startlist_run"+this.id+" table .edit").hide();
            }else{
              alert("runlist error");
            }
          }

          function startlist_get(run_id){
            $.get("/raceinfo/startlist/run/"+run_id+"/get/")
            .done(function(data){
              start_list=JSON.parse(data);
              $("#tab_startlist_run"+run_id+" tbody").html(""); //очищаем
              $.each(start_list, function(value) { //заполняем таблицу со стартовым списком
                $("#tab_startlist_run"+run_id+" tbody").append("<tr><td class='order'>"+this[2].order+"</td><td class='edit'><input type='text' name='"+this[2].id+"' value='"+this[2].order+"' style='width:30px;'></td><td>"+this[1].bib+"</td><td>"+this[0].en_firstname+" "+this[0].en_laststname+" / "+this[0].ru_firstname+" "+this[0].ru_laststname+"</td></tr>");
              })
              if(!run_list[run_list_ids["id"+run_id]].starttime){ //если заезд еще не начался, то можно отредактировать стартовый список
                //кнопка редактирования стартового списка
                $("#tab_startlist_run"+run_id).append("<button value='' class='btn_edit_startlist' run_id='"+run_id+"'>edit</button>");
                $("#tab_startlist_run"+run_id).append("<button value='' class='btn_save_startlist' run_id='"+run_id+"'>save</button>");
                $("#tab_startlist_run"+run_id).append("<button value='' class='btn_canceledit_startlist' run_id='"+run_id+"'>cancel</button>");

                $("#tab_startlist_run"+run_id+" .btn_save_startlist").hide();
                $("#tab_startlist_run"+run_id+" .btn_canceledit_startlist").hide();

              }
              $("#tab_startlist_run"+run_id+" table .edit").hide();

            })



          }


        }
      });
}

</script>
{% endblock %}
