{% extends "base.html" %}
{% import "_user.html" as macros %}

{% block title %} Получатель{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">

var dev_list;
var status_list;

function func1(){
  console.log("func1");
      return $.get("/raceinfo/device/get/course/1")
       .done(function(data){
        dev_list=JSON.parse(data);
        console.log("func1 - ajax:");
        console.log(dev_list);
        return dev_list;
      })
}
function func2(){
    console.log("func2");
    return $.get("/raceinfo/status/get")
    .done(function(data){
      status_list=JSON.parse(data);
      console.log("func2 - ajax:");
      console.log(status_list);
      return status_list;
    })
}
Promise.all([func1(),func2()]).then(
    function (data) {
      console.log("promise: ");
            console.log("dev_list: ");
      console.log(dev_list);
          console.log("status-list: ");
      console.log(status_list);
         });

</script>
{% endblock %}
