<html>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.3.1/moment-with-langs.min.js"></script>
</html>
<script>


var device =  JSON.parse('{{ device | safe }}');

var competitors =  JSON.parse('{{ competitors | safe }}');

var circle_count = {{ circle_count }};
 var starttime = 0;
function tform(v){
    return moment(v).format('mm:ss.SSSS');
}
//форматирование времени
function dtform(v){
    return moment(v).format('DD.MM.YYYY HH:mm:ss.SSSS');
}


function run(){
    $.ajax({
      url: "/shorttrack/input/data",
	  async: false,
	  type: 'POST',
      contentType: 'application/json',
      data:JSON.stringify({
			  'EVENT_CODE': 'C0'
      })
    }).done(function() {
        reqSend(0);
    });

}


function reqSend(devnum){

//	var t = new Date().getTime() ; // 12.850 - 12.859
	if(starttime==0)
		starttime= new Date().getTime();
	for (i=0; i<competitors.length; i++)
	    {

	        setTimeout(sendCompetitor,randomDelay(),competitors[i], devnum, starttime);
	    }
//	$("#data"+course).append("<tr><td>"+startlist[snum]+"</td><td>"+devlist[devnum].src_dev+"</td><td>"+devlist[devnum].src_sys+"</td><td>"+(t-starttime)+"</td><td>"+tform(t-starttime)+"</td><td>"+t+"</td><td>"+dtform(t)+"</td></tr>");
	var sectordelay=6000; //1sec
	if(devnum==circle_count-1){
		devnum=0;
		starttime=0;
//		$("#data"+course).append("<tr><td colspan=7><hr><!--<button class='btn' onclick='setTimeout(reqSend, 100+(Math.random()*1840), "+snum+", "+devnum+",0)'>Next competitor</button>--></td></tr>");
	}else{
		devnum++;
		//if(snum<=startlist.length-1)
			setTimeout(reqSend, sectordelay+(Math.random()*1040),  devnum);
	}
}
function sendCompetitor(competitor, devnum, starttime) {
    setTimeout(sendLeg, randomDelay(),competitor.order, competitor.transponder_1, devnum, starttime, competitor.id);
	setTimeout(sendLeg, randomDelay(),competitor.order, competitor.transponder_2, devnum, starttime, competitor.id);
}
function sendLeg(i,transponder, devnum, starttime, id) {
    var t = new Date().getTime() ; // 12.850 - 12.859
    console.log(id ,i,transponder, t, (tform(t-starttime)));
    $("#data"+i).append("<tr><td>"+i+"</td><td>"+devnum+"</td><td>"+transponder+"</td><td>"+tform(t-starttime)+"</td></tr>");
    console.log("send:", dtform(t));
  	$.ajax({
		  url: "/shorttrack/input/data",
		  dataType: 'json',
		  async: false,
		  type: 'POST',
		  contentType: 'application/json',
		  data:JSON.stringify({
			  'SRC_DEV':device['src_dev'],
			  'TIME':tform(t-starttime),
			  'TRANSPONDER':transponder,
			  'EVENT_CODE': 'C1'
			  })
		}).done(function() {
		    var ft = new Date().getTime();
			console.log("done:", dtform(ft));
//			  $( this ).addClass( "done" );
		});
}
function randomDelay() {
    var rand = 100 - 0.5 + Math.random() * (1501 - 100 + 1);
    rand = Math.round(rand);
    return rand;
  }


function juryrun(eventcode){
    var t = new Date().getTime()
    t=tform(t-starttime);
    $.ajax({
      url: "/shorttrack/input/data",
      type: 'POST',
      contentType: 'application/json',
      data:JSON.stringify({
              'EVENT_CODE': eventcode,
              'TIME': t
      })
    }).done(function() {
        $('.'+eventcode).append(t);
    });
}
</script>
<!--
<input type="button" onclick="clearInterval(intervalID);" value="stop"> |
<input type="text" id="delay_val" value="100"><input type="button" value="change delay" onclick="delay=$('#delay_val').val();clearInterval(intervalID);intervalID = window.setInterval(reqSend, delay);">

 -->
<h4 style="color: red">Внимение! После проезда каждой группы необходимо обновить страницу (Для загрузки данных о новой группе)</h4>
<input type="button" onclick="run();" value="Хакуна Матата!">

<a href='/shorttrack/emulation/1/clear'>Clear all results</a>
<HR>
<table id="data1" style="width:19%; float:left">
<tr><td>№</td><td>circle</td><td>transponder</td><td>time</td></tr>
</table>
<table id="data2" style="width:19%; float:left">
<tr><td>№</td><td>circle</td><td>transponder</td><td>time</td></tr>
</table>
<table id="data3" style="width:19%; float:left">
<tr><td>№</td><td>circle</td><td>transponder</td><td>time</td></tr>
</table>
<table id="data4" style="width:19%; float:left">
<tr><td>№</td><td>circle</td><td>transponder</td><td>time</td></tr>
</table>
<table id="data5" style="width:19%; float:left">
<tr><td>№</td><td>circle</td><td>transponder</td><td>time</td></tr>
</table>

<!-- <table id="log" style="width:49%; margin-left:1%; float:left">
<tr><td>#</td><td>delay</td><td>time s.ms</td></tr>
</table>
 -->
<HR>

 <table id="data1" style="width:100%; float:left">
{% for item in jury%}
<tr>
    <td>{{item[0].en_lastname}} {{item[0].en_firstname}}</td>
    <td>{{item[0].event_code}}</td><td>{{item[1].type}}</td>
    <td><input type="button" onclick="juryrun('{{item[0].event_code}}');" value="Хакуна Матата!"></td>
    <td class="{{item[0].event_code}}"></td>
</tr>
{% endfor %}
</table>

 </html>
