<html>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.3.1/moment-with-langs.min.js"></script>
</html>
<script>
var startlist=["1","2","3","4","5","6"]; //стартовый список
var gap=30; // gap between competitors starts

var race =  JSON.parse('{{ race | safe }}');

var devlist = JSON.parse('{{devices | safe }}');
/*var devlist=[  //список устройств
		{
			src_sys:'sys0001',
			src_dev:'start0001',
		},
		{
			src_sys:'sys0001',
			src_dev:'int0002',
		},
		{
			src_sys:'sys0001',
			src_dev:'int0003',
		},
		{
			src_sys:'sys0001',
			src_dev:'int0004',
		},
		{
			src_sys:'sys0001',
			src_dev:'int0005',
		},
		{
			src_sys:'sys0001',
			src_dev:'finish0006',
		}
	];
*/
	function tform(v){
		return moment(v).format('mm:ss.SSSS');
	}
	//форматирование времени
	function dtform(v){
		return moment(v).format('DD.MM.YYYY HH:mm:ss.SSSS');
	}

function reqSend(snum,devnum,starttime){
	var t=new Date().getTime() ; // 12.850 - 12.859
	if(starttime==0)
		starttime= new Date().getTime();
	$("#data").append("<tr><td>"+startlist[snum]+"</td><td>"+devlist[devnum].src_dev+"</td><td>"+devlist[devnum].src_sys+"</td><td>"+(t-starttime)+"</td><td>"+tform(t-starttime)+"</td><td>"+t+"</td><td>"+dtform(t)+"</td></tr>");
	$.ajax({
		  url: "/raceinfo/input/data",
			type: 'POST',
		  dataType: 'json',
		  type: 'POST',
		  contentType: 'application/json',
		  data:JSON.stringify({
			  'SRC_SYS':devlist[devnum][1].name,
			  'SRC_DEV':devlist[devnum][1].name,
			  'BIB':startlist[snum],
			  'EVENT_CODE':'x3',
				'GROUP_CODE':'50',
			  'TIME':dtform(t),
			  'TOKEN':'pwreutv02n8414yt8'
			  })
		}).done(function() {
//			  $( this ).addClass( "done" );
		});
    //alert("dev=" + devlist[devnum].src_dev + " bib=" + snum + " time="+t);
	var sectordelay=100; //1sec
//	console.log(snum,devnum,starttime);

	if(devnum==devlist.length-1){
		devnum=0;
		snum++;
		starttime=0;
		$("#data").append("<tr><td colspan=5><button class='btn' onclick='setTimeout(reqSend, 100+(Math.random()*1840), "+snum+", "+devnum+",0)'>Next competitor</button></td></tr>");
	}else{
		devnum++;
		//if(snum<=startlist.length-1)
			setTimeout(reqSend, sectordelay+(Math.random()*1840), snum, devnum,starttime);

	}



}

</script>
<!--
<input type="button" onclick="clearInterval(intervalID);" value="stop"> |
<input type="text" id="delay_val" value="100"><input type="button" value="change delay" onclick="delay=$('#delay_val').val();clearInterval(intervalID);intervalID = window.setInterval(reqSend, delay);">
 -->
<input type="button" onclick="reqSend(0,0,0);" value="Run">
<a href="/raceinfo/emulation/1/clear">Clear all results</a>
<HR>
<table id="data" style="width:49%; float:left">
<tr><td>№</td><td>src_dev</td><td>src_sys</td><td>timediff (ms)</td><td>timediff</td><td>current timestamp (ms)</td><td>current datetime</td></tr>
</table>
<!-- <table id="log" style="width:49%; margin-left:1%; float:left">
<tr><td>#</td><td>delay</td><td>time s.ms</td></tr>
</table>
 -->
 </html>
